@model Lighting.Models.model_input

@{
    ViewData["Title"] = "IR_philosophy";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
    ViewData["IR_Stock_LinkDetail"] = (List<Lighting.Areas.Identity.Data.IR_Stock_LinkDetail>)ViewBag.IR_Stock_LinkDetail;
}

@Html.Partial("~/Views/Shared/Inc/IR_inc_topmenu.cshtml")
<input id="page_name" value="ir" hidden />
<!---------- IR 01 CORPORATE INFO :: PHILOSOPHY ---------->
<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col">
                    <div class="header-twoline">
                        <h5>ข้อมูลบริษัท</h5>
                        <h1>ปรัชญาองค์กร</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                @{
                    if (Model.count_list_philosophy > 0)
                    {
                        foreach (var items in Model.list_philosophy)
                        {
                            <div class="col-lg-6 col-md-6 col-12 mb-3">
                                <a class="img-width imgBD" data-fancybox="gallery" href="~/upload_image/Philosophy/@items.image_name">
                                    <img src="~/upload_image/Philosophy/@items.image_name">
                                </a>
                            </div>
                        }

                    }
                    else
                    {
                        <div class="col-lg-6 col-md-6 col-12 mb-3">
                            <a class="img-width imgBD" data-fancybox="gallery" href="~/Frontend_assets/images/ir/philosophy01.jpg">
                                <img src="~/Frontend_assets/images/ir/philosophy01.jpg">
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <a class="img-width imgBD" data-fancybox="gallery" href="~/Frontend_assets/images/ir/philosophy02.jpg">
                                <img src="~/Frontend_assets/images/ir/philosophy02.jpg">
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    Fancybox.bind('[data-fancybox="gallery"]', {
        //Toolbar: {
        //    display: [
        //        { id: "prev", position: "center" },
        //        { id: "counter", position: "center" },
        //        { id: "next", position: "center" },
        //        "zoom",
        //        "fullscreen",
        //        "download",
        //        "thumbs",
        //        "close",
        //    ],
        //},
    });
</script>
