@{
    ViewData["Title"] = "IR_stock_quote";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/Inc/IR_inc_topmenu.cshtml")
<input id="page_name" value="ir" hidden />

<!---------- IR 07 STOCK INFORMATION :: STOCK QUOTE ---------->
<div class="content-padding foot-pad minH">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col">
                    <div class="header-twoline">
                        <h5>ข้อมูลราคาหลักทรัพย์</h5>
                        <h1>ราคาหุ้นล่าสุด</h1>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-10 col-md-11 col-12">
                    <div class="WH-Box">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="topicBD-Box">
                                            <div>STOCK PRICE</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-9 col-md-9 col-11">
                                        <div class="img-width mb-4">
                                            <iframe frameborder=0 scrolling=no width="200" height="260" src="https://weblink.settrade.com/banner/banner3.jsp"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                @if (Context.Request.Cookies["lang"] == "EN")
                                {
                                    foreach (var item in ViewBag.IR_Latest_News)
                                    {
                                        <div class="row">
                                            <div class="col">
                                                <div class="topicBD-Box">
                                                    <div>SET INDEX</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-lg-9 col-md-9 col-11">
                                                <div class="img-width">
                                                    <iframe frameborder=0 scrolling=no width="200" height="200" src="https://weblink.settrade.com/IRPage/irpage.jsp?txtSymbol=L%2526E&language=en&key=27742"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    foreach (var item in ViewBag.IR_Latest_News)
                                    {
                                        <div class="row">
                                            <div class="col">
                                                <div class="topicBD-Box">
                                                    <div>SET INDEX</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-lg-9 col-md-9 col-11">
                                                <div class="img-width">
                                                    <iframe frameborder=0 scrolling=no width="200" height="200" src="https://weblink.settrade.com/IRPage/irpage.jsp?txtSymbol=L%2526E&language=th&key=27742"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>