@model Lighting.Models.model_input

@{
    ViewData["Title"] = "IR_summary";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/Inc/IR_inc_topmenu.cshtml")
<input id="page_name" value="ir" hidden />
<!---------- IR 01 CORPORATE INFO :: SUMMARY ---------->
<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col">
                    <div class="header-twoline">
                        <h5>ข้อมูลบริษัท</h5>
                        <h1>สรุปภาพรวมบริษัท</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="img-gallery">
                        @{
                            if (Model.count_list_companyOverview > 0)
                            {
                                foreach (var items in Model.list_companyOverview)
                                {
                                    <li>
                                        <a class="img-width" data-fancybox="gallery" href="~/upload_image/CompanyOverview/@items.image_name"><img src="~/upload_image/CompanyOverview/@items.image_name"></a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    Fancybox.bind('[data-fancybox="gallery"]', {
        //Toolbar: {
        //    display: [
        //        { id: "prev", position: "center" },
        //        { id: "counter", position: "center" },
        //        { id: "next", position: "center" },
        //        "zoom",
        //        "fullscreen",
        //        "download",
        //        "thumbs",
        //        "close",
        //    ],
        //},
    });
</script>
