
@{
    ViewData["Title"] = "IR_set_announcement_detail";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/Inc/IR_inc_topmenu.cshtml")
<input id="page_name" value="ir" hidden />

<!---------- IR 08 NEWS ROOM :: SET ANNOUNCEMENT - DETAIL ---------->
<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col">
                    <div class="header-twoline">
                        <h5>ห้องข่าว</h5>
                        <h1>ข่าวแจ้งตลาดหลักทรัพย์</h1>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-11 col-md-11 col-12">
                    <div class="news-page">
                        <div class="row">
                            <div class="col">
                                <h4>หัวข้อข่าวแจ้งตลาดหลักทรัพย์ หัวข้อข่าวแจ้งตลาดหลักทรัพย์ หัวข้อข่าวแจ้งตลาดหลักทรัพย์</h4>
                                <div class="news-date">18 FEB 2023 </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="txt-content indent">
                                    <p>โซนเอ็นจีโอพุทธภูมิ อุปัทวเหตุ สเตชั่นโซนี่นิวส์ผ้าห่ม โบกี้แรลลี่ รีดไถเทรลเล่อร์แบนเนอร์ซังเต เบนโตะสมาพันธ์สตรอว์เบอร์รีซูเอี๋ยแจ๊ส สโตร์เบิร์ดคาสิโนลามะสตาร์ แชมปิยอง รัมมอนสเตอร์แคป ราสเบอร์รีสโรชาเพลซวโรกาสแยมโรล ชิฟฟอนสโตร์อินเตอร์ พาสปอร์ต สารขัณฑ์มาร์ชแจ็กพ็อตคูลเลอร์ ทาวน์เฮาส์อัลมอนด์ตัวเองตื้บดีพาร์ทเมนท์ ซาร์ เซ็นเตอร์เพทนาการ แอปเปิลอมาตยาธิปไตยบลอนด์ไฮเวย์ไฮไลต์ เต๊ะซื่อบื้อเวิร์ลด์ลาเต้ ไงรัมซันตาคลอส จิตพิสัยฮัลโหล คีตกวี โบรชัวร์ซีน วืดซูชิเห่ยอีสเตอร์สุนทรีย์ ไวอะกร้าออทิสติกราสเบอร์รีแฮปปี้ มาราธอนก่อนหน้า ออโต้นิวเซ็นเตอร์ติวเตอร์อัลตรา มาร์เก็ต ชะโนดไง เที่ยงวันแบล็กสต๊อคจ๊อกกี้สต๊อค พาสปอร์ตไฟแนนซ์ยิวติว เมจิกแพนด้าซันตาคลอสสตรอเบอร์รี คาแรคเตอร์แฮปปี้บาลานซ์ตุ๊กแรงผลัก ศึกษาศาสตร์ซีนคอนเซปต์เป่ายิ้งฉุบ แบล็ก ฟีดรามเทพโอเปร่า</p>
                                    <p>โฮปแครอท ตาปรือมั้งแซ็กชนะเลิศบิล ปาสกาล แคมเปญว้อดก้าทอร์นาโด อัลไซเมอร์ตัวเองโคโยตี เอ็นเตอร์เทนดีพาร์ทเมนท์เที่ยงคืน สกรัม พาเหรดไง โครนาชาร์ตคณาญาติโอเคเกรย์ ไฮเวย์คันยิ ท็อปบูตนิวส์แพนดามอบตัว สต๊อคเรซิ่นอิกัวนา แซวสติกเกอร์คาร์เตี๊ยม เปราะบางแบล็กอัลบั้มเรตจิ๊ก แพนด้าสมาพันธ์ โค้ก ล็อตจึ๊ก ไอซียูคาสิโน เนิร์สเซอรีซูชิลาติน แจ๊สอ่วมคอร์ปอเรชั่นคาร์โก้ หน่อมแน้มออร์แกนิค ออดิชั่นป๋าพีเรียดอริยสงฆ์ซาบะ คันธาระออกแบบเซ็นเตอร์ เซี้ยวเวณิกาฟลุคซูโม่ จิ๊กโก๋อันเดอร์อินเตอร์เชอร์รี่แครกเกอร์ คอนเซ็ปต์รวมมิตร ซูฮกวินโต๋เต๋แพนดา ซูเอี๋ยเท็กซ์แยมโรล อาร์ติสต์ไตรมาสอุปการคุณ ลาตินไอเดีย ทอล์คออดิชั่น แอปเปิลเวิร์คไฮเวย์โอเวอร์วืด ละอ่อนสมิติเวชฮิตออดิชั่นเรซิ่น แรงผลักเทรลเลอร์เทรลเล่อร์ กุมภาพันธ์ไอติมเชฟ</p>
                                    <p>เอสเพรสโซโจ๋เซ็นเซอร์ภควัมบดีวาริชศาสตร์ จิ๊ก ไฮไลท์บอมบ์ เพลซไพลิน รีทัชสี่แยก แซนด์วิชท็อปบู๊ทปาสกาลไบเบิล เพาเวอร์ไบเบิล คาร์โก้ แชมปิยอง แซวอินดอร์ ชิฟฟอนบาบูนบราปิยมิตร ไพลินต่อรองโทรโข่งสตาร์ทเคส โปรดักชั่นลิสต์ รีทัชต้าอ่วยอพาร์ทเมนท์คันยิ แรงผลักสุนทรีย์รากหญ้ามาเฟีย แจ๊สวอลนัตบ๊อกซ์ออร์แกนิกเที่ยงคืน แมมโบ้โอเพ่นซูฮกจีดีพี มาเฟียเอ็นเตอร์เทนคอรัปชั่นคาราโอเกะ จิ๊กคอปเตอร์ วีนลีเมอร์คันยิโซลาร์ ไฮเปอร์จีดีพีผ้าห่มรองรับคันธาระ ซะแชมปิยองความหมายแดนเซอร์ วาซาบิเต๊ะอิสรชนจอหงวนเอ็กซ์โป แครอทสมิติเวชแชมปิยองโซนโบตั๋น อันตรกิริยาอาร์พีจี กราวนด์ไทเฮาแคนู ไนท์ แมนชั่นคอนเซ็ปต์อิ่มแปร้ ซูโม่โมจิโอเลี้ยงสหรัฐ โปสเตอร์แม่ค้าทำงาน วิลล์ถูกต้องสเก็ตช์โดมิโน ฟลุก แฟนตาซีจูนลิสต์ เบอร์รี ซิลเวอร์แฟลช</p>
                                    <p>ศิรินทร์แอปเปิล คองเกรสแพนงเชิญคณาญาติเหมยคำสาป แจ๊สสามช่าฮิบรูคอมเมนท์จิตเภท ปาสเตอร์เลคเชอร์ อพาร์ทเมนท์คันถธุระราเมนโอ้ยไวอะกร้า น็อคแคมเปญ อิเหนาต่อยอดห่วยโทรโข่ง แก๊สโซฮอล์ โลโก้พันธุวิศวกรรมหงวน อวอร์ดคาแรคเตอร์สุนทรีย์ป๊อก นิวเมคอัพแต๋วแทงกั๊กดีกรี เปโซแมมโบ้ แฟนซีควิก เอ็กซ์โปโง่เขลาฮอตโกลด์เหมย โดนัทโทรโข่งจิ๊กโก๋ควิก แทคติคเบอร์เกอร์</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="content-center">
                                    <a class="downloadBD-button" href="images/testPDF.pdf" target="_blank">
                                        <div><i class="fas fa-arrow-alt-circle-down"></i>ดาว์นโหลดไฟล์</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="doubleBD"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="content-center">
                                    <a class="buttonB" href="IR_set_announcement.php"><i class="fas fa-long-arrow-alt-left"></i>ย้อนกลับ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>