@{
    ViewData["Title"] = "Manage_Contact_Page";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
    var lang = Context.Request.Cookies["lang"];
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <!--contact type-->
            <div class="form-group p-2">
                <label class="h4">ประเภท</label>
                <select class="form-select"  id="contact_type">
                    <option value="SHOWROOM" class="h5">โชว์รูม/SHOWROOM</option>
                    <option value="FACTORY_AND_WAREHOUSE" class="h5">โรงงานและโกดัง/FACTORY AND WAREHOUSE</option>
                    <option value="OVERSEA_OFFICES" class="h5">ออฟฟิศต่างประเทศ/OVERSEA OFFICES</option>
                </select>
            </div>
            <!--end contact type-->
            <!--sub place name-->
            <div class="form-group mt-3 p-2" style="border:1px solid black" id="place">
                <label class="h4 mt-3">ชื่อย่อยของโรงงงาน (ภาษาไทย)</label>
                <textarea type="text" class="form-control" id="sub_place_name_th" placeholder="ชื่อย่อย ภาษาไทย"></textarea>
                <label class="h4 mt-3">Sub Place Name (English)</label>
                <textarea type="text" class="form-control" id="sub_place_name_en" placeholder="Sub Place Name English"></textarea>
            </div>
            <!--end sub place name-->
            <!--place name-->
            <div class="form-group mt-3 p-2" style="border:1px solid black" id="place">
                <label class="h4 mt-3">ชื่อสถานที่ (ภาษาไทย)</label>
                <input type="text" class="form-control" id="place_name_th" placeholder="ชื่อสถานที่ ภาษาไทย">
                <label class="h4 mt-3">Place Name (English)</label>
                <input type="text" class="form-control" id="place_name_en" placeholder="Place Name English">
            </div>
            <!--end place name-->
            <!--Location -->
            <div class="form-group mt-3 p-2" style="border:1px solid black" id="location">
                <label class="h4 mt-3">ที่อยู่ (ภาษาไทย)</label>
                <input type="text" class="form-control" id="location_th" placeholder="ที่อยู่ ภาษาไทย">
                <label class="h4 mt-3">Location (English)</label>
                <input type="text" class="form-control" id="location_en" placeholder="Location English">
            </div>
            <!--end Location -->
            <!--phone-->
            <div class="form-group mt-3 p-2">
                <label class="h4 mt-3">เบอร์โทรศัพท์</label>
                <input type="text" class="form-control" id="cell_phone" placeholder="เบอร์โทรศัพท์">
                <label class="h4 mt-3">Fax</label>
                <input type="text" class="form-control" id="tele_phone" placeholder="Fax">
                <label class="h4 mt-3">เบอร์โทรศัพท์มือถือ</label>
                <input type="text" class="form-control" id="office_phone" placeholder="เบอร์โทรศัพท์มือถือ">
            </div>
            <!--endphone-->
            <!--email and link-->
            <div class="form-group  p-2">
                <label class="h4 mt-3">Email</label>
                <textarea id="email" placeholder="Email@example.com"></textarea>
                <label class="h4 mt-3">Google Map URL</label>
                <input type="text" class="form-control" id="googlemap" placeholder="https://example.com">
                <label class="h4 mt-3">Youtube URL (ภาษาไทย)</label>
                <input type="text" class="form-control" id="youtube_th" placeholder="https://youtube.com/example">
                <label class="h4 mt-3">Youtube URL (English)</label>
                <input type="text" class="form-control" id="youtube_en" placeholder="https://youtube.com/example">
            </div>
            <!--email and link--->
            <!--fileimage-->
            <div class="custom-file mt-3 p-1" style="border:1px solid black">
                <img style="width:100%;height:100%;display:none;" id="preview_show_img" />
                <br />
                <label for="formFile" class="form-label">
                    เลือกไฟล์ รูป แผนที่ TH
                    <br />
                    <span style="color:red;">
                        ขนาดรูปภาพ : 1860 * 1300 px
                    </span>
                </label>
                <input type="file" class="form-control mt-3" id="file_img" accept="image/png, image/gif, image/jpeg" multiple>
            </div>
            <div class="custom-file mt-3 p-1" style="border:1px solid black">
                <img style="width:100%;height:100%;display:none;" id="preview_show_imgEN" />
                <br />
                <label for="formFile" class="form-label">
                    เลือกไฟล์ รูป แแผนที่ EN
                    <br />
                    <span style="color:red;">
                        ขนาดรูปภาพ : 1860 * 1300 px
                    </span>
                </label>
                <input type="file" class="form-control mt-3" id="file_imgEN" accept="image/png, image/gif, image/jpeg" multiple>
            </div>
            <!--file-->
            <center style="margin:3rem;display:flex;justify-content:space-between;">
                <button type="button" class="btn btn-success" onclick="submit()">บันทึก/save</button>
                <a href="@Url.Action("manage_contact_page","ManageContact")" class="btn btn-primary">กลับ/back</a>
            </center>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var sub_place_name_th, sub_place_name_en,email_txt;

        ClassicEditor
                    .create(document.querySelector('#sub_place_name_th'))
            .then(editor => {
                console.log('Editor was initialized', editor);
                sub_place_name_th = editor;
            })
            .catch(error => {
                console.error(error);
            });

        ClassicEditor
            .create(document.querySelector('#sub_place_name_en'))
            .then(editor => {
                console.log('Editor was initialized', editor);
                sub_place_name_en = editor;
            })
            .catch(error => {
                console.error(error);
            });


        ClassicEditor
            .create(document.querySelector('#email'))
            .then(editor => {
                console.log('Editor was initialized', editor);
                email_txt = editor;
            })
            .catch(error => {
                console.error(error);
            });

        var image_file;
        var image_fileEN;
        $(document).ready(function () {
            

            $('#file_img').change(async function (e) {
                if (e.target.files.length === 1) {
                    image_file = e.target.files[0];
                    $('#preview_show_img').attr('src', await blobToBase64DataURL(image_file)).css("display", "block");
                }
            });

            $('#file_imgEN').change(async function (e) {
                if (e.target.files.length === 1) {
                    image_fileEN = e.target.files[0];
                    $('#preview_show_imgEN').attr('src', await blobToBase64DataURL(image_fileEN)).css("display", "block");
                }
            });
        });


        const blobToBase64DataURL = blob => new Promise(
            resolvePromise => {
                const reader = new FileReader();
                reader.onload = () => resolvePromise(reader.result);
                reader.readAsDataURL(blob);
            }
        );

        function submit() {

            let contact_type = $("#contact_type").val();

            let sub_place_th = sub_place_name_th.getData();
            let sub_place_en = sub_place_name_en.getData();

            let place_name_th = $("#place_name_th").val();
            let place_name_en = $("#place_name_en").val();

            let location_th = $("#location_th").val();
            let location_en = $("#location_en").val();

            let cell_phone = $("#cell_phone").val();
            let tele_phone = $("#tele_phone").val();
            let office_phone = $("#office_phone").val();

            let email = email_txt.getData();
            let google_map = $("#googlemap").val();
            let youtube_th = $("#youtube_th").val();
            let youtube_en = $("#youtube_en").val();

            let formData = new FormData();
            formData.append("ContactType", contact_type);

            formData.append("Sub_Factory_Name_TH", sub_place_th);
            formData.append("Sub_Factory_Name_EN", sub_place_en);

            formData.append("PlaceName_TH", place_name_th);
            formData.append("PlaceName_EN", place_name_en);
            formData.append("Location_TH", location_th);
            formData.append("Location_EN", location_en);
            formData.append("CellPhone", cell_phone);
            formData.append("TelePhone", tele_phone);
            formData.append("OfficePhone", office_phone);

            if (image_file != undefined) {
                formData.append("Image", image_file);
            }

            if (image_fileEN != undefined) {
                formData.append("ImageEN", image_fileEN);
            }

            formData.append("Email", email);
            formData.append("GoogleMaps_Url", google_map);
            formData.append("YouTube_Url_TH", youtube_th);
            formData.append("YouTube_Url_EN", youtube_en);

            $.ajax({
                type: 'POST',
                url: '/ManageContact/Add_Contact',
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                beforeSend: function () {
                    Swal.fire('Please wait')
                    Swal.showLoading()
                },
                success: function (data) {
                    if (data.status == "success") {
                        Swal.fire({
                            icon: 'success',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 2000
                        }).then(() => {
                            window.location.href = "/ManageContact/Manage_Contact_Page";
                        });
                    }
                    else {
                        $("#place").css('border-color', "red");
                        $("#location").css('border-color', "red");
                        Swal.fire({
                            icon: 'warning',
                            text: data.message,
                        });

                    }
                }, error: function (e) {
                    $("#place").css('border-color', "red");
                    $("#location").css('border-color', "red");
                    Swal.fire({
                        icon: 'error',
                        text: e.message,
                    });
                    console.log(e.message);
                    console.log(e.inner);
                }
            });
        }
    </script>
            }