@{
    ViewData["Title"] = "Profile_Our_Philosophy_Vision_Misson";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml"; 

    var Title = (List<Lighting.Areas.Identity.Data.RF_Philosophy_Vision_Mission>)ViewBag.Header;
    var Contact = (List<Lighting.Areas.Identity.Data.RF_Philosophy_Vision_Mission_Details>)ViewBag.Body;
}

<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">RESOURCE & FACILITY</div>
        </div>
    </div>
</div>

<!---------- RESOURCE & FACILITY :: PHILOSOPHY ---------->
<div class="content-padding foot-pad">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header-twoline">
                    @if (Title.Count() != 0)
                    {
                        foreach (var item in ViewBag.Header)
                        {
                            if (Context.Request.Cookies["lang"] == "EN")
                            {
                                <h5>@item.Title_EN</h5>
                                <h1>@item.SubTitle_EN</h1>
                            }
                            else
                            {
                                <h5>@item.Title_TH</h5>
                                <h1>@item.SubTitle_TH</h1>
                            }
                        }
                    }
                    else
                    {
                        <h5>PROFILE</h5>
                        <h1>OUR PHILOSOPHY VISION & MISSION</h1>
                    }
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            @if (Contact.Count() != 0)
            {
                foreach (var item in ViewBag.Body)
                {
                    if (Context.Request.Cookies["lang"] == "EN")
                    {
                        <div class="col-lg-10 col-md-11 col-12">
                            <a class="img-width hover-img" data-fancybox href="~/upload_image/RF_Philosophy_VM/@item.image_name_ENG">
                                <img src="~/upload_image/RF_Philosophy_VM/@item.image_name_ENG">
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-10 col-md-11 col-12">
                            <a class="img-width hover-img" data-fancybox href="~/upload_image/RF_Philosophy_VM/@item.image_name">
                                <img src="~/upload_image/RF_Philosophy_VM/@item.image_name">
                            </a>
                        </div>
                    }

                }
            }
            else
            {
                <div class="col-lg-10 col-md-11 col-12">
                    <a class="img-width imgBD hover-img" data-fancybox href="~/Frontend_assets/images/resource-facility/company-philosophy.jpg">
                        <img src="~/Frontend_assets/images/resource-facility/company-philosophy.jpg">
                    </a>
                </div>
            }
        </div>

    </div>
</div>

@section Scripts{

    <script>
        Fancybox.bind('[data-fancybox="gallery"]', {
            Toolbar: {
                display: [
                    { id: "prev", position: "center" },
                    { id: "counter", position: "center" },
                    { id: "next", position: "center" },
                    "zoom",
                    "fullscreen",
                    "download",
                    "thumbs",
                    "close",
                ],
            },
        });
    </script>
}
