@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
    var lang = Context.Request.Cookies["lang"];
}
@model  IEnumerable<Lighting.Models.InputFilterModels.Product.Output_ProductCategoryVM>
<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">PRODUCTS</div>
        </div>
    </div>
</div>
<!---------- PRODUCT :: ALL CATEGORY ---------->
<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="three-colPad">
                <div class="row">
                    @foreach(var category in Model){
                    <div class="col-lg-3 col-md-4 col-6">
                            <a class="contentBox" href="@Url.Action("Product_Category","Product",new {category = category.Name_EN})">
                                @*new {categoryId= category.Id})*@
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/@category.Image"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                            @if(lang == "EN")
                                            {
                                                <p>@category.Name_EN</p>
                                            }
                                            else
                                            {
                                                <p>@category.Name_TH</p>
                                            }
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>