@{
    ViewData["Title"] = "Product_Detail";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
}
<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">PRODUCTS</div>
        </div>
    </div>
</div>
<!---------- PRODUCT :: DETAIL ---------->
<div class="content-padding foot-pad product-page">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="row">
                        <div class="col">
                            <ul class="bread-crumb">
                                <li><a href="@Url.Action("Product","Product")">PRODUCTS</a></li>
                                <li><a href="@Url.Action("Product_Category","Product")">OUTDOOR</a></li>
                                <li><a href="@Url.Action("Product_Subcategory","Product")">FLOODLIGHT</a></li>
                                <li><a>FLL201-S</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="product-detail-section">
                                <div class="row">
                                    <div class="col">
                                        <div class="product-header">
                                            <h2>FLL201-S</h2>
                                            <p>LED Floodlight / Spotlight</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-xl-7 col-lg-8 col-md-8 col-12">
                                        <a class="img-width" data-fancybox href="~/Frontend_assets/images/product/product01.jpg"><img src="~/Frontend_assets/images/product/product01.jpg"></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="icon-spec"><img src="~/Frontend_assets/images/product/product-spec.jpg"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="product-download">
                                            <li>
                                                <a href="" target="_blank"><span>CUTSHEET</span></a>
                                            </li>
                                            <li>
                                                <a href="" target="_blank"><span>IES FILE</span></a>
                                            </li>
                                            <li>
                                                <a href="" target="_blank"><span>CATALOGUE</span></a>
                                            </li>
                                            <li>
                                                <a href="" target="_blank"><span>MORE INFORMATION</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="sectionBD"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h6>APPLICATION</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="txt-content mb-0">
                                            <p>Floodlight is designed to illuminate building facade, building security,indoor and outdoor stadiums, monuments, statues, exhibition halls, shopping centers,showrooms,display areas, residences,etc.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="sectionBD"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="row">
                                            <div class="col">
                                                <h6>SPECIFICATION</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="specification-info">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>Housing</th>
                                                                <td>Die-cast aluminium</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Finishing</th>
                                                                <td>Powder coated in black</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Lens</th>
                                                                <td>Clear toughened glass</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Gasket</th>
                                                                <td>Silicone rubber</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Dimension</th>
                                                                <td>92x140x120 mm.</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Mounting</th>
                                                                <td>Surface</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Power</th>
                                                                <td>5W</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Source</th>
                                                                <td>LED-COB</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Lamp Colour</th>
                                                                <td>3000/4000K</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Luminaire Output</th>
                                                                <td>360 Im</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Beam Angle</th>
                                                                <td>12/24/36 degree</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Control Gear</th>
                                                                <td>Built-in driver</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Power Supply</th>
                                                                <td>220VAC 50Hz</td>
                                                            </tr>
                                                            <tr>
                                                                <th>IP Rating</th>
                                                                <td>66</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Luminaire Lifetime</th>
                                                                <td>30.000 hrs</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Equivalent</th>
                                                                <td>MR16 50W</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="row">
                                            <div class="col">
                                                <h6>Dimension</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <ul class="product-gal">
                                                    <li><a data-fancybox="technical-gallery" href="~/Frontend_assets/images/product/product-detail01.JPG"><img src="~/Frontend_assets/images/product/product-detail01.JPG"></a></li>
                                                    <li><a data-fancybox="technical-gallery" href="~/Frontend_assets/images/product/product-detail01.JPG"><img src="~/Frontend_assets/images/product/product-detail01.JPG"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <h6>Photomatric Data</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <ul class="product-gal mb-0">
                                                    <li><a data-fancybox="distribution-gallery" href="~/Frontend_assets/images/product/product-detail02.JPG"><img src="~/Frontend_assets/images/product/product-detail02.JPG"></a></li>
                                                    <li><a data-fancybox="distribution-gallery" href="~/Frontend_assets/images/product/product-detail02.JPG"><img src="~/Frontend_assets/images/product/product-detail02.JPG"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="content-center">
                                <a class="buttonB" href="@Url.Action("Product_Subcategory","Product")"><i class="fas fa-long-arrow-alt-left"></i>Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>