@{
    ViewData["Title"] = "PrivacyPolicy";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
}
  <div class="top-page">
        <div class="container">
            <div class="row">
                <div class="col">PRIVACY POLICY</div>
            </div>
        </div>
    </div>

    <!---------- PRIVACY POLICY ---------->
    <div class="content-padding foot-pad policy-page">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="display-tab center s-txt">
                        <li class="active" rel="1">
                            <a href="javascript:void(0)">
                                <div class="cate-txtBox">
                                    <div>PRIVACY POLICY</div>
                                </div>
                            </a>
                        </li>
                        <li rel="2">
                            <a href="javascript:void(0)">
                                <div class="cate-txtBox">
                                    <div>PRIVACY NOTICE <br>สำหรับผู้สมัครงานและพนักงาน</div>
                                </div>
                            </a>
                        </li>
                        <li rel="3">
                            <a href="javascript:void(0)">
                                <div class="cate-txtBox">
                                    <div>CCTV PRIVACY POLICY</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="display-group">
                        <!---------- 01 PRIVACY POLICY ---------->
                        <div class="display-info" rel="1">
                            <div class="row justify-content-center">
                                <div class="col-xl-6 col-lg-7 col-md-9 col-12">
                                    <div class="img-width img-mb"><img src="images/privacy-policy/PDPAbanner.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="policy-header">
                                        <h5>นโยบายคุ้มครองข้อมูลส่วนบุคคล “PRIVACY POLICY” <br>บริษัท ไลท์ติ้ง แอนด์ อีควิปเมนท์ จำกัด (มหาชน)</h5>
                                        <p>ฉบับที่ 1 POLICY/REV.1/2565</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p>บริษัท ไลท์ติ้ง แอนด์ อีควิปเมนท์ จำกัด (มหาชน) ดำเนินการในฐานะผู้ควบคุมข้อมูลส่วนบุคคล ตระหนักถึงความสําคัญของการคุ้มครองข้อมูลส่วนบุคคลและหลักปฏิบัติ รวมถึง มาตรการรักษาความปลอดภัยข้อมูลส่วนบุคคล เพื่อให้สอดคล้องตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562 และกฎหมายอื่นที่เกี่ยวข้อง</p>
                                        <p>ทั้งนี้ บริษัทฯ จึงได้จัดทํานโยบายคุ้มครองข้อมูลส่วนบุคคลฉบับนี้ให้กับบุคคลทั่วไปที่เกี่ยวข้องกับบริษัทฯ รวมถึง บุคลากรทุกคนในบริษัทฯได้รับทราบ ทั้งผู้บริหาร ผู้ถือหุ้น พนักงาน บุคคลภายนอก ผู้ปฏิบัติงานร่วมกับบริษัทฯ ลูกค้า คู่ค้า ให้ทุกคนถือปฏิบัติ โดยผู้บริหารของทุกหน่วยงานมีหน้าที่สนับสนุน ผลักดัน ตรวจสอบการดําเนินงาน โดยถือหลักตามนโยบายและกฎหมายที่เกี่ยวข้องกับพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคลอย่างเคร่งครัด ดังนี้</p>
                                        <ul class="list-decimal">
                                            <li>การเก็บรวบรวมข้อมูลส่วนบุคคลให้มีการดําเนินการอย่างจํากัดเพียงเท่าที่จําเป็น ตามวัตถุประสงค์ของการใช้งานเท่านั้น และสอดคล้องตามนโยบาย คู่มือ และ/หรือแนวปฏิบัติที่บริษัทฯ กําหนด</li>
                                            <li>คุณภาพของข้อมูลส่วนบุคคลที่จัดเก็บ ให้คํานึงถึงความถูกต้องเหมาะสม มีมาตรการในการรักษาความมั่นคงปลอดภัยของข้อมูลส่วนบุคคลอย่างเหมาะสม มีการบริหารจัดการความเสี่ยง รวมถึงการสร้างจิตสํานึกความรับผิดชอบในด้านความมั่นคงปลอดภัย ของข้อมูลส่วนบุคคล</li>
                                            <li>วัตถุประสงค์ในการเก็บรวมรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลภายใต้ฐานทางกฎหมายที่เกี่ยวข้องกับ พรบ.คุ้มครองข้อมูลส่วนบุคคลและให้มีการประมวลผลข้อมูลตามวัตถุประสงค์ที่กำหนดเท่านั้น โดยจะไม่เปิดเผยข้อมูลส่วนบุคคลต่อบุคคลภายนอกเว้นแต่ในกรณีดังต่อไปนี้
                                                <ol>
                                                    <li>3.1 เพื่อประโยชน์เกี่ยวกับชีวิต สุขภาพ หรือความปลอดภัย (VITAL INTEREST) </li>
                                                    <li>3.2 เพื่อการปฏิบัติตามสัญญาที่มีความผูกพันระหว่างกัน (CONTRACT) </li>
                                                    <li>3.3 เพื่อการดําเนินการตามกฎหมาย คําสั่งศาล หรือผู้มีอํานาจตามกฎหมายที่มีลักษณะทํานองเดียวกัน (OFFICIAL AUTHORITY) </li>
                                                    <li>3.4 เพื่อประโยชน์โดยชอบด้วยกฎหมาย (LEGITIMATE INTEREST) </li>
                                                    <li>3.5 เพื่อการปฏิบัติหน้าที่ตามกฎหมาย (LEGAL OBLIGATION) </li>
                                                    <li>3.6 เพื่อประโยชน์ในการศึกษา วิจัย หรือการทําสถิติ (RESEARCH OR STATISTIC) </li>
                                                    <li>3.7 เป็นกรณีที่ได้รับความยินยอมจากเจ้าของข้อมูลส่วนบุคคล (CONSENT)</li>
                                                </ol>
                                            </li>
                                            <li>บริษัทฯ จัดให้มีการประชาสัมพันธ์และเผยแพร่นโยบาย รวมถึง แนวปฏิบัติที่เกี่ยวข้องผ่านทางเว็บไซต์ และมีการดำเนินการเรื่องอื่นๆ ตามที่กฎหมายกําหนด เช่น มีมาตรการ รองรับการใช้สิทธิของเจ้าของข้อมูลส่วนบุคคล กําหนดความรับผิดชอบอำนาจหน้าที่ของบุคลากรที่มีส่วนเกี่ยวข้องในการใช้ข้อมูลส่วนบุคคลและมีการจัดทำข้อตกลงรักษาข้อมูล ร่วมกับผู้ประมวลผลข้อมูลส่วนบุคคล (DATA PROCESSOR AGREEMENT) รวมถึงมีการประกาศแต่งตั้งเจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล (DPO) เพื่อทำหน้าที่ตามกฎหมายกำหนด เป็นต้น</li>
                                            <li>มีการจัดอบรมให้ความรู้กับบุคลากรในบริษัทฯ เพื่อปลูกฝังจิตสํานึก ความรับผิดชอบ และให้ความสำคัญต่อข้อมูลส่วนบุคคลเสมือนเป็นข้อมูลของตนเอง</li>
                                        </ul>
                                        <p>นโยบายฉบับนี้ ยังมีวัตถุประสงค์เพื่อแจ้งกับบุคคลที่เกี่ยวข้องให้ทราบและทำความเข้าใจถึงเหตุผลที่บริษัทฯต้องเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลโดยมีขั้นตอน อย่างชัดเจน ตลอดจนอธิบายถึงมาตรการรักษาความปลอดภัยข้อมูลส่วนบุคคล เพื่อให้สอดคล้องตาม พรบ.คุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562 ที่ประกาศใช้</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5>1. ขอบเขตการบังคับใช้</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent mb-5">
                                        <p class="mb-2">นโยบายคุ้มครองข้อมูลส่วนบุคคลฉบับนี้ ใช้สำหรับกลุ่มบุคคลดังต่อไปนี้</p>
                                        <ul class="list-decimal">
                                            <li>กลุ่มลูกค้าทั่วไป วัตถุประสงค์ในการจัดเก็บข้อมูลส่วนบุคคลของกลุ่มลูกค้าทั่วไป เพื่อพัฒนาบริการ ปรับปรุงสินค้า สำรวจตลาด ความต้องการของลูกค้าและแก้ไขข้อบกพร่องต่างๆ ซึ่งกลุ่มลูกค้าทั่วไปประกอบด้วย
                                                <ol>
                                                    <li>1.1 ลูกค้าบุคคลธรรมดา ทั้งที่เป็นลูกค้าของบริษัทฯในอดีต ปัจจุบันและกลุ่มเป้าหมายของบริษัทฯ ซึ่งอาจเป็นลูกค้าของบริษัทฯ ในอนาคต </li>
                                                    <li>1.2 ลูกค้าที่เป็นตัวแทน ตัวแทนโครงการ ผู้มีอํานาจกระทําการแทนนิติบุคคล กรรมการ ลูกค้าผู้เข้ามาติดต่อ และบุคคลธรรมดาที่ทำหน้าที่ในนามนิติบุคคล </li>
                                                </ol>
                                            </li>
                                            <li>กลุ่มคู่ค้า คู่สัญญา วัตถุประสงค์ในการจัดเก็บข้อมูลส่วนบุคคลของกลุ่มคู่ค้า คู่สัญญา เพื่อตรวจสอบและยืนยันตัวตนเกี่ยวกับการเข้าทำธุรกรรมหรือนิติกรรมสัญญา ซึ่งกลุ่มคู่ค้า คู่สัญญานั้นประกอบด้วย
                                                <ol>
                                                    <li>2.1 บุคคลธรรมดา ซึ่งเป็นคู่ค้าหรือคู่สัญญาของบริษัทฯ ทั้งในอดีต ปัจจุบันและในอนาคต </li>
                                                    <li>2.2 บุคคลที่ทำหน้าที่เป็นตัวแทนหรือผู้มีอํานาจกระทําการแทนนิติบุคคล กรรมการ ผู้ติดต่อและบุคคลธรรมดาที่ทำหน้าที่ในนามนิติบุคคล ซึ่งเป็นคู่ค้าหรือคู่สัญญา นิติบุคคลกับบริษัทฯ</li>
                                                </ol>
                                            </li>
                                            <li>กลุ่มกรรมการ ผู้ถือหุ้น นักลงทุน ผู้สอบบัญชีรับอนุญาต รวมถึงบุคคลทั่วไปที่สนใจลงทุนร่วมกับบริษัทฯ วัตถุประสงค์ในการจัดเก็บข้อมูลส่วนบุคคลของบุคคลกลุ่มนี้ เพื่อ ตรวจสอบและยืนยันตัวตนในการลงทุนหรือซื้อหุ้นบริษัทฯ </li>
                                            <li>กลุ่มผู้มาติดต่อ บุคคลภายนอกที่เข้ามาในบริเวณพื้นที่ของบริษัทฯ วัตถุประสงค์ในการจัดเก็บข้อมูลส่วนบุคคลของบุคคลกลุ่มนี้ เพื่อทำการตรวจสอบบุคคล และสร้าง มาตรฐานด้านความปลอดภัย โดยบริษัทมีความจําเป็นต้องเก็บรวบรวมข้อมูลและรับผิดชอบด้านความปลอดภัยรวมถึงทรัพย์สิน </li>
                                            <li>กลุ่มพนักงานบริษัท และผู้สมัครงาน ซึ่งอาจครอบคลุมทั้งที่เป็นสมาชิกครอบครัว หรือบุคคลอ้างอิงที่พนักงาน หรือผู้สมัครงานอ้างอิงถึง วัตถุประสงค์ในการจัดเก็บข้อมูล ส่วนบุคคลของบุคคลกลุ่มนี้ เพื่อคัดสรรบุคลากร และบริหารงานภายในองค์กรรวมถึงดำเนินการตามเงื่อนไขการจ้างงานของภาครัฐ</li>
                                        </ul>

                                        <p class="mb-2">บริษัทฯ อาจทำการเก็บข้อมูลอ่อนไหว (SENSITIVE DATA) กับกลุ่มบุคคลข้างต้นตามความจำเป็น ซึ่งวัตถุประสงค์ในการเก็บข้อมูลอ่อนไหว มีดังนี้</p>
                                        <ul class="list-decimal">
                                            <li>ข้อมูลชีวภาพ เพื่อยืนยันตนในการเข้าถึงยังพื้นที่สำนักงาน</li>
                                            <li>ข้อมูลศาสนา เพื่อพิจารณาในการจัดสวัสดิการตามประเพณีและบริการจัดเตรียมอาหาร </li>
                                            <li>ข้อมูลอาชญากรรม เพื่อคัดกรองบุคคลอันตรายและตรวจสอบคุณธรรมของผู้สมัครงาน</li>
                                            <li>ข้อมูลความพิการ เพื่อดำเนินการตามความจำเป็นตามฐานกฎหมาย</li>
                                            <li>ข้อมูลสุขภาพ เพื่อพิจารณาถึงตำแหน่งที่เหมาะสมกับสภาพร่างกาย</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xl-7 col-lg-8 col-md-10 col-12">
                                    <a class="img-width img-mb imgBD hover-img" data-fancybox href="images/privacy-policy/privacy-policy.jpg"><img src="images/privacy-policy/privacy-policy.jpg"></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p>นโยบายคุ้มครองข้อมูลส่วนบุคคลฉบับนี้ ยังบังคับใช้ครอบคลุมช่องทางต่างๆ ระหว่างเจ้าของข้อมูลกับหน่วยงานอื่นที่ทําหน้าที่เป็นผู้ให้บริการประมวลผลข้อมูลส่วนบุคคล ไม่ว่า จะเป็นช่องทางการติดต่อสําหรับกลุ่มธุรกิจต่างๆของบริษัทฯ ระบบอิเล็กทรอนิกส์ เว็บไซต์ สายด่วน (CALL CENTER) หรือศูนย์บริการลูกค้า ช่องทางการร้องเรียน หรือให้คําแนะนํา ติชม ช่องทางการติดต่อสื่อสารทางออนไลน์ แอปพลิเคชั่นสําหรับอุปกรณ์เคลื่อนที่ กิจกรรมต่างๆ สถานที่สาธารณะหรือชุมชนที่บริษัทฯ ดูแลรับผิดชอบเพื่อสังคม และ/หรือ เพื่อ กิจกรรมอื่นๆ ที่อาจเกิดขึ้นในอนาคต โดยอธิบายถึงประเภทข้อมูลส่วนบุคคลที่บริษัทฯจัดเก็บ วิธีการ แหล่งที่มา วัตถุประสงค์ที่เก็บรวบรวม ใช้ เปิดเผยและอาจมีการโอนข้อมูลส่วน บุคคลไปยังต่างประเทศ กลุ่มบุคคลที่อาจได้รับการเปิดเผยหรือโอนข้อมูลส่วนบุคคล ระยะเวลาในการเก็บรักษาข้อมูลส่วนบุคคล และสิทธิของเจ้าของข้อมูลส่วนบุคคล ตลอดจน มาตรการรักษาความปลอดภัยข้อมูลส่วนบุคคล</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5>2. การจํากัดความที่กล่าวถึงในนโยบายฉบับนี้</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p><strong>“บริษัทฯ”</strong> หมายถึง บริษัท ไลท์ติ้ง แอนด์ อีควิปเมนท์ จำกัด (มหาชน) และรวมถึงผู้มีหน้าที่กระทําการแทนบริษัทด้วย</p>
                                        <p><strong>“ข้อมูลส่วนบุคคล”</strong> หมายถึง ข้อมูลเกี่ยวกับบุคคลที่ทําให้สามารถระบุตัวบุคคลนั้นได้ ไม่ว่าทางตรงหรือทางอ้อม แต่ไม่รวมถึงผู้ถึงแก่กรรมโดยเฉพาะ ซึ่งบริษัทฯ ได้เก็บรวบรวม ไว้ตามที่ได้แจ้งไว้ในนโยบายฉบับนี้ อย่างไรก็ดี ข้อมูลต่อไปนี้ไม่ใช่ข้อมูลส่วนบุคคล เช่น ข้อมูลสําหรับการติดต่อทางธุรกิจที่ไม่ได้ระบุถึงตัวบุคคล เช่น ชื่อบริษัท ที่อยู่ของบริษัท เลขทะเบียนนิติบุคคลของบริษัท หมายเลขโทรศัพท์ของที่ทํางาน ที่อยู่อีเมล (E-MAIL ADDRESS) ที่ใช้ในการทํางาน ที่อยู่อีเมล (E-MAIL ADDRESS) กลุ่มของบริษัท ข้อมูลนิรนาม (ANONYMOUS DATA) หรือข้อมูลแฝงที่ถูกทําให้ไม่สามารถระบุตัวบุคคลได้อีกโดยวิธีการทางเทคนิค (PSEUDONYMOUS DATA) เป็นต้น</p>
                                        <p><strong>“ข้อมูลส่วนบุคคลที่อ่อนไหว”</strong> หมายถึง ข้อมูลส่วนบุคคลที่ พ.ร.บ. คุ้มครองข้อมูลส่วนบุคคลกําหนดให้เป็นข้อมูลที่มีความอ่อนไหว ซึ่งบริษัทฯ ได้เก็บรวบรวมใช้ เปิดเผย เมื่อ บริษัทฯ ได้รับความยินยอมตามกฎหมายจากเจ้าของข้อมูลก่อน โดยข้อมูลประเภทนี้บริษัทฯจะจัดเก็บเฉพาะกลุ่มบุคลากรและผู้สมัครงานเท่านั้น ซึ่งข้อมูลอ่อนไหวที่จัดเก็บได้แก่ เพศ ศาสนา ประวัติอาชญากรรม ข้อมูลหนี้สิน ข้อมูลสุขภาพ ความพิการ ข้อมูลทางชีวภาพ เช่น ภาพจําลองใบหน้า จําลองม่านตา และข้อมูลจําลองลายนิ้วมือ</p>
                                        <p><strong>“การประมวลผลข้อมูลส่วนบุคคล”</strong> หมายถึง การเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคล ด้วยวิธีการส่งต่อ เผยแพร่ข้อมูลส่วนบุคคลตามกิจกรรมภายใต้การดำเนินงาน ของบริษัทฯ </p>
                                        <p><strong>“การเปิดเผยข้อมูลส่วนบุคคล”</strong> บริษัทอาจส่งต่อข้อมูลส่วนบุคคลเฉพาะกลุ่มพนักงาน และผู้สมัครงานไปยังสถานประกอบการอื่น ทั้งหน่วยงานเอกชน หน่วยงานรัฐ เพื่อ ประมวลผลข้อมูล หรือความจำเป็นตามข้อบังคับทางกฎหมาย </p>
                                        <p class="mb-2"><strong>“เจ้าของข้อมูลส่วนบุคคล”</strong> (DATA SUBJECT) หรือ “เจ้าของข้อมูล” หมายถึง ตัวบุคคลที่เป็นเจ้าของข้อมูลส่วนบุคคล แต่ไม่ใช่กรณีที่บุคคลมีความเป็นเจ้าของข้อมูล (OWNERSHIP) หรือเป็นผู้สร้างหรือเก็บรวบรวมข้อมูลนั้นเอง โดยเจ้าของข้อมูลส่วนบุคคลนี้ หมายถึงบุคคลธรรมดาเท่านั้น ไม่รวมถึง “นิติบุคคล” (JURIDICAL PERSON) ที่จัด ตั้งขึ้นตามกฎหมาย เช่น บริษัท สมาคม มูลนิธิ หรือองค์กรอื่นใด ซึ่งเจ้าของข้อมูลส่วนบุคคลควรให้ข้อมูลส่วนบุคคลของตนเองตามความเป็นจริง ไม่บิดเบือน เพื่อปฏิบัติตามกฎหมาย เพื่อปฏิบัติตามกฏหมายหรือภายใต้ฐานสัญญาที่ทำกับบริษัทฯ เป็นลายลักษณ์อักษร เช่น</p>
                                        <ul class="list-decimal">
                                            <li>สัญญาว่าจ้าง เช่น สัญญาจ้างพนักงาน ที่ปรึกษา ผู้ตรวจสอบ วิทยากร ผู้รับเหมา ผู้ให้บริการ ฯลฯ</li>
                                            <li>สัญญาซื้อขาย/สัญญาโครงการ </li>
                                            <li>สัญญาเช่า </li>
                                            <li>สัญญาอื่นๆ /บันทึกข้อตกลงที่มีผลประโยชน์ร่วม</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>3. ผลกระทบที่เป็นไปได้ในกรณีที่เจ้าของข้อมูลปฎิเสธการยินยอมฯ</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p>ผลกระทบที่เป็นไปได้ ในกรณีที่เจ้าของข้อมูลปฏิเสธการยินยอมในการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลซึ่งมีผลกระทบต่อเจ้าของข้อมูลของกลุ่มบุคคล ดังต่อไปนี้กลุ่มลูกค้า บริษัทฯ อาจไม่สามารถแจ้งส่วนลด สิทธิพิเศษ อาจรวมถึงการระงับให้บริการกลุ่มกรรมการ คู่ค้า ผู้ถือหุ้น ผู้สอบบัญชี บริษัทฯ ไม่สามารถทำสัญญาการลงทุน ลงนาม หรือดำเนินธุรกิจ ร่วมกันกลุ่มผู้มาติดต่อ บุคคลภายนอกที่เข้ามาในบริเวณพื้นที่ของบริษัทฯ บริษัทอาจปฏิเสธการขอเข้าถึงพื้นที่ตามมาตรการรักษาความปลอดภัยกลุ่มพนักงานบริษัทและผู้สมัครงาน บริษัทฯ ไม่สามารถจัดสวัสดิการ หรือในบางกรณีบริษัทฯ อาจจำเป็นต้องยกเลิกสัญญาที่ทำกับเจ้าของข้อมูลที่ปฏิเสธการยินยอมฯ เนื่องจากไม่สามารถดำเนินการประมวลผลหรือส่งต่อ เพื่อประมวลผล ตามวัตถุประสงค์ของสัญญาจ้างและหรือกฎหมายที่เกี่ยวข้อง</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>4. การใช้คุกกี้ (COOKIES)</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p>ในการเข้าชมเว็บไซต์ของบริษัทฯ อาจมีการเก็บรวบรวมข้อมูลโดยอัตโนมัติ คุกกี้บางส่วนมีความจําเป็นเพื่อให้เว็บไซต์สามารถทํางานได้อย่างเหมาะสม และบางส่วนเป็นคุกกี้ที่มีไว้ เพื่ออํานวยความสะดวกแก่ผู้เข้าชมเว็บไซต์ ซึ่งท่านสามารถศึกษาข้อมูลเพิ่มเติมได้ในนโยบายคุกกี้ของบริษัทฯ</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>5. การเก็บรักษา ระยะเวลา และมาตรการรักษาความมั่นคงปลอดภัย</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p>บริษัทฯ จะเก็บรักษาข้อมูลส่วนบุคคลไว้ตราบเท่าที่จําเป็น เพื่อบรรลุตามวัตถุประสงค์ที่ได้แจ้งไว้ในนโยบายฉบับนี้ โดยจะพิจารณาระยะเวลาที่เหมาะสม ตามระยะเวลาที่อาจ คาดการณ์ได้ตามกฎหมายและมาตรฐานการเก็บของบริษัทฯ ไม่เกินกว่า 10 ปีตามอายุความ กรุณาดูตารางชี้แจงกลุ่มบุคคลที่บริษัทฯจัดเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคล บริษัทฯ จะดูแลรักษาและเก็บข้อมูลส่วนบุคคลให้มีความปลอดภัยที่เหมาะสม ไม่ว่าในรูปแบบของ เอกสาร ระบบคอมพิวเตอร์ และระบบอิเล็กทรอนิกส์ต่างๆ รวมถึงเครื่องมือต่างๆ ที่ บริษัทฯ ใช้เพื่อรักษาความปลอดภัยในข้อมูลส่วนบุคคล ทั้งนี้ บริษัทฯ มีการจํากัดการเข้าถึง และใช้เทคโนโลยีในการรักษาความปลอดภัยในข้อมูลส่วนบุคคล เพื่อป้องกันมิให้มีการ เข้าสู่ระบบคอมพิวเตอร์ หรือระบบอิเล็กทรอนิกส์โดยไม่ได้รับอนุญาต รวมถึงเมื่อมีการเปิดเผยข้อมูลส่วนบุคคลแก่บุคคลภายนอกที่ดําเนินการประมวลผลหรือแก่ผู้ประมวลผลข้อมูล บริษัทฯ จะดําเนินการกํากับดูแลให้บุคคลนั้นดําเนินการอย่างเหมาะสมให้เป็นไปตามกฎหมายกำหนด</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>6. สิทธิของเจ้าของข้อมูลส่วนบุคคล</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p>เจ้าของข้อมูลส่วนบุคคลมีสิทธิจะเพิกถอนความยินยอม ระงับการใช้ชั่วคราว แจ้งถึงเหตุการถูกละเมิด โดยสามารถแจ้งความประสงค์ให้เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล ทราบเป็นลายลักษณ์อักษรผ่านทางจดหมายอิเล็กทรอนิกส์ DPO@LIGHTING.CO.TH ได้ตลอดเวลา</p>
                                        <p class="mb-2">นอกจากนี้ ภายใต้ พ.ร.บ.คุ้มครองข้อมูลส่วนบุคคล เจ้าของข้อมูลส่วนบุคคล มีสิทธิร้องขอตามกฎหมาย ดังต่อไปนี้</p>
                                        <ul>
                                            <li>6.1 สิทธิในการเข้าถึงข้อมูลส่วนบุคคล (RIGHT OF ACCESS) เจ้าของข้อมูลส่วนบุคคลมีสิทธิขอเข้าถึงข้อมูลส่วนบุคคลของตนที่ บริษัทฯ เก็บรวบรวม และขอให้ บริษัทฯ ทําสําเนาข้อมูลส่วนบุคคลดังกล่าวให้แก่เจ้าของข้อมูลส่วนบุคคล </li>
                                            <li>6.2 สิทธิในการขอให้โอนย้ายข้อมูลส่วนบุคคล (RIGHT TO DATA PORTABILITY) เจ้าของข้อมูลส่วนบุคคล มีสิทธิในการขอรับข้อมูลส่วนบุคคล รวมถึง สิทธิขอให้ส่งข้อมูล ไปยังบุคคลอื่น ซึ่งบริษัทฯ อาจเรียกเก็บค่าใช้จ่ายหากการร้องขอหรือการใช้สิทธินั้นซ้ำซ้อนเกินสมควร หรือบริษัทฯต้องใช้ความพยายามทางเทคนิคในการจัดการมากเกินสมควร</li>
                                            <li>6.3 สิทธิในการขอแก้ไขข้อมูลส่วนบุคคล (RIGHT TO RECTIFICATION) ในการเก็บข้อมูลส่วนบุคคลเพื่อให้เป็นข้อมูลที่สมบูรณ์ ถูกต้องและเป็นปัจจุบัน เจ้าของข้อมูลส่วน บุคคลมีสิทธิในการขอแก้ไข ปรับปรุง เปลี่ยนแปลงข้อมูลส่วนบุคคลที่ไม่ถูกต้องหรือเพิ่มเติมข้อมูลที่ไม่สมบูรณ์ได้ </li>
                                            <li>6.4 สิทธิในการคัดค้านการประมวลผล (RIGHT TO OBJECT) เจ้าของข้อมูลมีสิทธิในการคัดค้านการเก็บรวบรวม ใช้ เปิดเผยข้อมูลส่วนบุคคล หรือระงับการใช้ข้อมูล เว้นแต่จะ มีข้อจํากัดทางกฎหมายที่บริษัทฯ ไม่อาจทำตามความเรียกร้องได้</li>
                                            <li>6.5 สิทธิในการเพิกถอนความยินยอม (RIGHT TO WITHDRAW CONSENT) เจ้าของข้อมูลส่วนบุคคลมีสิทธิเพิกถอนความยินยอมได้ตลอดเวลา เว้นแต่ การเพิกถอนความ ยินยอมจะมีข้อจํากัดตามกฎหมายหรือตามสัญญา ทั้งนี้ การถอนความยินยอมจะไม่ส่งผลกระทบต่อการประมวลผลข้อมูลส่วนบุคคลที่ได้ให้ความยินยอมไว้ก่อนหน้าโคยชอบด้วย กฎหมายและตามฐานสัญญาที่ได้ให้ไว้ </li>
                                            <li>6.6 สิทธิในการลบหรือทำลายข้อมูลส่วนบุคคล (RIGHT TO ERASURE) ท่านมีสิทธิขอให้บริษัทฯ ลบหรือทำลายข้อมูลส่วนบุคคลของท่าน หรือทำให้ข้อมูลส่วนบุคคลของท่าน ไม่สามารถระบุตัวบุคคลที่เป็นเจ้าของข้อมูลได้ต่อไป ทั้งนี้ การใช้สิทธิลบหรือทำลายข้อมูลส่วนบุคคลนี้จะต้องอยู่ภายใต้เงื่อนไขตามที่กฎหมายกำหนด</li>
                                            <li>6.7 สิทธิในการขอให้ระงับการใช้ข้อมูลส่วนบุคคล (RIGHT TO RESTRICTION OF PROCESSING) ท่านมีสิทธิขอให้ระงับการใช้ข้อมูลส่วนบุคคลของท่าน ทั้งนี้ ในกรณีดังต่อไปนี้
                                                <ol>
                                                    <li>6.7.1 เมื่ออยู่ในช่วงเวลาที่บริษัทฯ ทำการตรวจสอบตามคำร้องขอของเจ้าของข้อมูลส่วนบุคคลให้แก้ไขข้อมูลส่วนบุคคลให้ถูกต้อง สมบูรณ์และเป็นปัจจุบัน </li>
                                                    <li>6.7.2 ข้อมูลส่วนบุคคลของเจ้าของข้อมูลส่วนบุคคลถูกเก็บรวบรวม ใช้ หรือเปิดเผยโดยมิชอบด้วยกฎหมาย </li>
                                                    <li>6.7.3 เมื่อข้อมูลส่วนบุคคลของเจ้าของข้อมูลส่วนบุคคลหมดความจำเป็นในการเก็บรักษาไว้ตามวัตถุประสงค์ที่บริษัทฯ ได้แจ้งในการเก็บรวบรวม แต่เจ้าของข้อมูลส่วน บุคคลประสงค์ให้บริษัทฯ เก็บรักษาข้อมูลนั้นต่อไปเพื่อประกอบการใช้สิทธิตามกฎหมาย</li>
                                                    <li>6.7.4 เมื่ออยู่ในช่วงเวลาที่บริษัทฯ กำลังพิสูจน์ถึงเหตุอันชอบด้วยกฎหมายในการเก็บรวบรวมข้อมูลส่วนบุคคลของเจ้าของข้อมูลส่วนบุคคล หรือตรวจสอบความจำเป็นใน การเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลเพื่อประโยชน์สาธารณะ อันเนื่องมาจากการที่เจ้าของข้อมูลส่วนบุคคลได้ใช้สิทธิคัดค้านการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูล ส่วนบุคคล</li>
                                                </ol>
                                            </li>
                                        </ul>
                                        <p>ทั้งนี้เจ้าของข้อมูลมีสิทธิยื่นคําร้องขอใช้สิทธิต่อเจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล โดยบริษัทฯจะดำเนินการตามคำร้องขอใช้สิทธิของเจ้าของข้อมูลทันที เว้นแต่จะปรากฏ ข้อเท็จจริงว่า การดําเนินการตามคำร้องขอดังกล่าวนั้นเกินสมควร พิสูจน์แล้วไม่เป็นความจริง หรือเป็นการขัดต่อกฎหมาย เหตุดังกล่าวนี้บริษัทฯ จะปฏิเสธคําร้องขอใช้สิทธิฯ โดยจะแจ้งให้เจ้าของข้อมูลทราบ </p>
                                        <p>การแจ้งเหตุละเมิดและการพิจารณา เจ้าของข้อมูลมีสิทธิร้องเรียนหากเกิดเหตุละเมิดข้อมูลส่วนบุคคลของท่านโดยตรงต่อคณะกรรมการคุ้มครองข้อมูลส่วนบุคคล อย่างไรก็ ตามท่านสามารถแจ้งร้องเรียนมายังบริษัทฯต่อเจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล บริษัทฯจะดำเนินการรับเรื่องร้องเรียนเมื่อได้รับการแจ้งเหตุจากเจ้าของข้อมูล โดยเบื้องต้นจะ พิจารณาและทบทวนความเสียหายที่เกิดขึ้นกับเจ้าของข้อมูลก่อน เมื่อพิจารณาแล้วพบว่าเจ้าของข้อมูลเกิดความเสียหายจริง จึงจะดำเนินการตามขั้นตอนที่กฎหมายกำหนดต่อไป แต่ทั้งนี้จะดำเนินการไม่เกิน 72 ชั่วโมง</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>7. การติดต่อบริษัทฯ และการร้องขอใช้สิทธิของเจ้าของข้อมูลส่วนบุคคล</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p>หากท่านมีข้อสงสัยใดเกี่ยวกับนโยบายความเป็นส่วนตัวนี้ หรือประสงค์ที่จะใช้สิทธิเกี่ยวกับข้อมูลส่วนบุคคลของท่านสามารถติดต่อสอบถามได้ที่</p>
                                        <p class="mb-2">เจ้าหน้าที่คุ้มครองข้อมูลส่วน บุคคล (DATA PROTECTION OFFICER: DPO)</p>
                                        <ul class="contact">
                                            <li><strong>สถานที่ติดต่อ :</strong>ศูนย์คุ้มครองข้อมูลส่วนบุคคล บริษัท ไลท์ติ้ง แอนด์ อีควิปเมนท์ จำกัด (มหาชน) <br>เลขที่ 539/2 ชั้น 16–17 อาคารมหานครยิบซั่ม ถนนศรีอยุธยา แขวงถนนพญาไท เขตราชเทวี กรุงเทพฯ 10400</li>
                                            <li><strong>EMAIL :</strong><a href="mailto:dpo@lighting.co.th">dpo@lighting.co.th</a></li>
                                            <li><strong>TEL :</strong>02-2488133 ต่อ 1200</li>
                                            <li><strong>WEBSITE :</strong><a href="http://www.lighting.co.th">www.lighting.co.th</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>8. การทบทวนและปรับปรุงนโยบายคุ้มครองข้อมูลส่วนบุคคล</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent mb-5">
                                        <p>บริษัทฯ อาจทบทวน ปรับปรุง เปลี่ยนแปลงนโยบายคุ้มครองข้อมูลส่วนบุคคลฉบับนี้เป็นครั้งคราว เพื่อให้สอดคล้องกับแนวปฏิบัติ กฎหมายอื่นๆ ที่อาจเพิ่มเติม หรือบังคับใช้ใน อนาคต ระเบียบและข้อบังคับที่เกี่ยวข้อง ทั้งนี้ หากมีการปรับปรุงเปลี่ยนแปลงนโยบายคุ้มครองข้อมูลส่วนบุคคลฉบับนี้ บริษัทฯ จะประกาศนโยบายฉบับปรับปรุงบนเว็บไซต์ของบริษัทฯ www.lighting.co.th และช่องทางอื่นๆ ของบริษัทฯ ต่อไป</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content text-center mb-0">
                                        <p>ประกาศ ณ วันที่ 1 มิถุนายน 2565</p>
                                        <p>นางนภาพร วิมลอนุพงษ์ <br>กรรมการผู้จัดการ <br>บริษัท ไลท์ติ้ง แอนด์ อีควิปเมนท์ จำกัด (มหาชน)</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- END // 01 PRIVACY POLICY -->

                        <!---------- 02 PRIVACY NOTICE ---------->
                        <div class="display-info" rel="2">
                            <div class="row">
                                <div class="col">
                                    <div class="policy-header">
                                        <h5>คำประกาศเกี่ยวกับความเป็นส่วนตัว “PRIVACY NOTICE” <br>สำหรับผู้สมัครงานและพนักงาน <br>บริษัท ไลท์ติ้ง แอนด์ อีควิปเมนท์ จำกัด (มหาชน)</h5>
                                        <p>ฉบับที่ 1.NOTICE/REV.1/2565</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p>บริษัท ไลท์ติ้ง แอนด์ อีควิปเมนท์ จำกัด (มหาชน) ดำเนินการในฐานะผู้ควบคุมข้อมูลส่วนบุคคล เคารพสิทธิความเป็นส่วนตัว ตระหนักถึงความสําคัญของการคุ้มครองข้อมูล ส่วนบุคคล ปฏิบัติตามมาตรการรักษาความปลอดภัยข้อมูลส่วนบุคคล และเพื่อให้เกิดความมั่นใจว่าพนักงานจะได้รับความคุ้มครองข้อมูลส่วนบุคคล จึงได้จัดทำนโยบายความเป็น ส่วนตัวฉบับนี้ขึ้น เพื่อแจ้งให้ทราบถึงรายละเอียดที่เกี่ยวข้องกับการเก็บรวบรวม การใช้ และการเปิดเผย (รวมเรียกว่า “ประมวลผล”) รวมทั้งได้อธิบายถึงสิทธิต่างๆ ภายใต้ พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5>บริษัทฯ เก็บรวมรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลภายใต้ฐานกฎหมายดังนี้</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent mb-5">
                                        <ul class="list-decor">
                                            <li>เพื่อใช้ในการดำเนินการเข้าทำสัญญาหรือเพื่อปฏิบัติตามกระบวนการคัดสรรบุคลากร เช่น พนักงานและผู้สมัครงาน ซึ่งอาจครอบคลุมทั้งที่เป็นสมาชิกครอบครัว หรือบุคคลอ้างอิงด้วย</li>
                                            <li>เพื่อประโยชน์โดยชอบด้วยกฎหมาย และข้อบังคับของรัฐ เช่น การบริหารทรัพยากรมนุษย์ การคัดสรรกำลังคน การจัดสวัสดิการต่างๆ เช่น การรักษาพยาบาล ประกันภัย และสวัสดิการอื่นๆ การส่งข้อมูลให้หน่วยงานรัฐ เช่นประกันสังคม อาชีวอนามัย พัฒนาฝีมือแรงงาน การสร้างบัญชีผู้ใช้งาน การระบุตัวตนเพื่อเข้าใช้ระบบและพื้นที่ของบริษัทฯ การ เข้าถึงระบบสารสนเทศ การรักษาความปลอดภัย การป้องกันอุบัติเหตุและอาชญากรรม การตรวจสอบด้านทุจริต หรือข้อพิพาทต่างๆ</li>
                                            <li>เพื่อป้องกันและระงับอันตรายต่อชีวิต ร่างกาย หรือสุขภาพของพนักงานหรือบุคคลอื่น เช่น การติดต่อในกรณีฉุกเฉิน การควบคุมและป้องกันโรคติดต่อ เพื่อประโยชน์ทางกิจ สาธารณะ หรือปฏิบัติหน้าที่ในการใช้อำนาจรัฐ</li>
                                        </ul>
                                        <p class="mb-2">บริษัทฯ อาจมีความจำเป็นต้องเก็บรวบรวมและประมวลผลข้อมูลส่วนบุคคลประเภทข้อมูลอ่อนไหว (SENSITIVE DATA) ตามความจำเป็น ซึ่งวัตถุประสงค์ในการเก็บข้อมูล อ่อนไหวมีดังนี้ :</p>
                                        <ol>
                                            <li>- ข้อมูลชีวภาพ เพื่อยืนยันตนในการเข้าถึงยังพื้นที่สำนักงาน </li>
                                            <li>- ข้อมูลศาสนา เพื่อพิจารณาในการจัดสวัสดิการ และอาหารตามประเพณี </li>
                                            <li>- ข้อมูลอาชญากรรม เพื่อคัดกรองบุคคลอันตราย และตรวจสอบคุณธรรมของผู้สมัครงาน </li>
                                            <li>- ข้อมูลด้านความพิการ เพื่อดำเนินการตามความจำเป็นตามฐานกฎหมาย </li>
                                            <li>- ข้อมูลด้าน เพศ น้ำหนัก ส่วนสูง สุขภาพ เพื่อพิจารณาถึงตำแหน่งที่เหมาะสม</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xl-7 col-lg-8 col-md-10 col-12">
                                    <a class="img-width img-mb imgBD hover-img" data-fancybox href="images/privacy-policy/privact-notice.jpg"><img src="images/privacy-policy/privact-notice.jpg"></a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>ผลกระทบที่เป็นไปได้ในกรณีที่เจ้าของข้อมูลปฎิเสธการยินยอมฯ</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p>ผลกระทบที่เป็นไปได้ ในกรณีที่เจ้าของข้อมูลปฏิเสธการยินยอมในการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลซึ่งมีผลกระทบต่อเจ้าของข้อมูลมีดังต่อไปนี้ บริษัทฯ ไม่สามารถจัด สวัสดิการ หรือในบางกรณีบริษัทฯ อาจจำเป็นต้องยกเลิกสัญญาที่ทำกับเจ้าของข้อมูลที่ปฏิเสธการยินยอมฯ เนื่องจากไม่สามารถดำเนินการประมวลผล หรือส่งต่อเพื่อประมวลผลตาม วัตถุประสงค์ของสัญญาจ้าง และหรือกฎหมายที่เกี่ยวข้อง</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>การเก็บรักษา และมาตรการรักษาความมั่นคงปลอดภัย</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p>บริษัทฯ จะเก็บรักษาข้อมูลส่วนบุคคลไว้ตราบเท่าที่จําเป็น และดูแลรักษาและเก็บข้อมูลส่วนบุคคลให้มีความปลอดภัยที่เหมาะสม เพื่อบรรลุตามวัตถุประสงค์ที่ได้แจ้งไว้ในนโยบาย ฉบับนี้ โดยจะพิจารณาระยะเวลาที่เหมาะสม ตามระยะเวลาที่อาจคาดการณ์ได้ตามกฎหมายและมาตรฐานการเก็บของบริษัทฯ ไม่เกินกว่า 10 ปีตามอายุความ กรุณาดูตารางชี้แจงการเก็บ รวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคล</p>
                                        <p>ทั้งนี้ บริษัทฯ มีการจํากัดการเข้าถึงข้อมูลส่วนบุคคลเฉพาะเจ้าหน้าที่ๆเกี่ยวข้องเท่านั้น มีระบบจัดเก็บโดยใช้เทคโนโลยีในการรักษาความปลอดภัยในข้อมูลส่วนบุคคล เพื่อป้องกัน มิให้มีการเข้าสู่ระบบคอมพิวเตอร์ เอกสาร หรือระบบอิเล็กทรอนิกส์โดยไม่ได้รับอนุญาต รวมถึงเมื่อมีการเปิดเผยข้อมูลส่วนบุคคลแก่บุคคลภายนอกที่ดําเนินการประมวลผล หรือแก่ผู้ประมวลผลข้อมูล บริษัทฯ จะดําเนินการกํากับดูแลให้บุคคลนั้นดําเนินการอย่างเหมาะสมให้เป็นไปตามกฎหมายกำหนด</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>สิทธิของเจ้าของข้อมูลส่วนบุคคล</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p>เจ้าของข้อมูลส่วนบุคคลมีสิทธิจะเพิกถอนความยินยอม ระงับการใช้ชั่วคราว แจ้งถึงเหตุการถูกละเมิด โดยสามารถแจ้งความประสงค์ให้เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคลทราบ เป็นลายลักษณ์อักษรผ่านทางจดหมายอิเล็กทรอนิกส์ dpo@lighting.co.th ได้ตลอดเวลา</p>
                                        <p class="mb-2">นอกจากนี้ ภายใต้ พ.ร.บ.คุ้มครองข้อมูลส่วนบุคคล เจ้าของข้อมูล มีสิทธิร้องขอตามกฎหมายดังต่อไปนี้</p>
                                        <ol class="list-decor">
                                            <li>สิทธิในการเข้าถึงข้อมูลส่วนบุคคลและขอรับสำเนา (RIGHT OF ACCESS)</li>
                                            <li>สิทธิในการขอให้โอนย้ายข้อมูลส่วนบุคคล (RIGHT TO DATA PORTABILITY) </li>
                                            <li>สิทธิในการขอแก้ไขข้อมูลส่วนบุคคล (RIGHT TO RECTIFICATION) </li>
                                            <li>สิทธิในการคัดค้านการประมวลผล (RIGHT TO OBJECT) </li>
                                            <li>สิทธิในการเพิกถอนความยินยอม (RIGHT TO WITHDRAW CONSENT) </li>
                                            <li>สิทธิในการขอลบหรือทำลายข้อมูลส่วนบุคคล (RIGHT TO ERASURE) </li>
                                            <li>สิทธิในการขอให้ระงับการใช้ข้อมูลส่วนบุคคล (RIGHT TO RESTRICTION OF PROCESSING)</li>
                                        </ol>
                                        <p>ทั้งนี้เจ้าของข้อมูลมีสิทธิยื่นคําร้องขอใช้สิทธิต่อเจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล (DPO) โดยบริษัทฯ จะดำเนินการตามคำร้องและตอบกลับการขอใช้สิทธิของเจ้าของข้อมูล ภายในระยะเวลา 30 วัน เว้นแต่จะปรากฏข้อเท็จจริงว่าการดําเนินการตามคำร้องขอดังกล่าวนั้นบ่อยครั้งเกินสมควร ไม่สมเหตุผล พิสูจน์แล้วไม่เป็นความจริง หรือเป็นการขัดต่อ กฎหมาย เหตุดังกล่าวนี้บริษัทฯ จะปฏิเสธคําร้องขอใช้สิทธิฯ โดยจะแจ้งให้เจ้าของข้อมูลทราบ</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>การแจ้งเหตุละเมิดและหลักการพิจารณา</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p>เจ้าของข้อมูลมีสิทธิร้องเรียน หรือแจ้งเหตุละเมิดข้อมูลส่วนบุคคลของท่านโดยตรงต่อสำนักงานคณะกรรมการคุ้มครองข้อมูลส่วนบุคคล (สคส.) หรือแจ้งเหตุฯมายังบริษัทฯ ต่อเจ้าหน้าที่คุ้มครองข้อมูลส่วน</p>
                                        <p>บุคคล (DPO) โดยบริษัทฯจะดำเนินการรับเรื่องร้องเรียนเมื่อได้รับการแจ้งเหตุจากเจ้าของข้อมูล แต่ทั้งนี้บริษัทฯจะพิจารณาและทบทวนความเสียหายที่เกิดขึ้นกับเจ้าของข้อมูล เบื้องต้นก่อน เมื่อพิจารณาแล้วพบว่าเจ้าของข้อมูลเกิดความเสียหายจริง จึงจะดำเนินการตามขั้นตอนที่กฎหมายกำหนดต่อไปแต่ไม่เกิน 72 ชั่วโมง</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>ช่องทางการติดต่อบริษัทฯ</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent mb-0">
                                        <p class="mb-2">หากท่านมีข้อสงสัยใดเกี่ยวกับนโยบายความเป็นส่วนตัวนี้ หรือประสงค์ที่จะใช้สิทธิเกี่ยวกับข้อมูลส่วนบุคคลของท่านสามารถติดต่อสอบถามได้ที่</p>
                                        <ul class="contact mb-0">
                                            <li><strong>บริษัท ไลท์ติ้ง แอนด์ อีควิปเมนท์ จำกัด (มหาชน) ทำหน้าที่ :</strong>ผู้ควบคุมข้อมูลส่วนบุคคล (DATA CONTROLLER)</li>
                                            <li><strong>ผู้อำนวยการอาวุโสฝ่ายทรัพยากรบุคคลและบริหารทั่วไป ทำหน้าที่ :</strong>ผู้คุ้มครองข้อมูลส่วนบุคคล (DATA PROTECTION OFFICER: DPO)</li>
                                            <li><strong>สถานที่ติดต่อ :</strong>เลขที่ 539/2 ชั้น16–17 อาคารมหานครยิบซั่ม ถนนศรีอยุธยา แขวงถนนพญาไท เขตราชเทวี กรุงเทพฯ 10400</li>
                                            <li><strong>EMAIL :</strong><a href="mailto:dpo@lighting.co.th">dpo@lighting.co.th</a></li>
                                            <li><strong>TEL :</strong>02-2488133 ต่อ 1200</li>
                                            <li><strong>WEBSITE :</strong><a href="http://www.lighting.co.th">www.lighting.co.th</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div><!-- END // 02 PRIVACY NOTICE -->

                        <!---------- 03 CCTV PRIVACY POLICY ---------->
                        <div class="display-info" rel="3">
                            <div class="row">
                                <div class="col">
                                    <div class="policy-header">
                                        <h5>คำประกาศเกี่ยวกับความเป็นส่วนตัวการใช้กล้องวงจรปิด <br>“CCTV PRIVACY NOTICE” <br>บริษัท ไลท์ติ้ง แอนด์ อีควิปเมนท์ จำกัด (มหาชน)</h5>
                                        <p>ฉบับที่ 1.HR/CCTV/REV.1/2565</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p><strong>บริษัท ไลท์ติ้ง แอนด์ อีควิปเมนท์ จำกัด (มหาชน)</strong> ดำเนินการติดกล้องวงจรปิด (CCTV) สำหรับเฝ้าระวังสังเกตการณ์พื้นที่สำนักงาน เพื่อการปกป้องชีวิต สุขภาพ และทรัพย์สิน ทั้งนี้ เราทำการเก็บรวบรวมข้อมูลส่วนบุคคลของพนักงาน และผู้มาติดต่อที่เข้ามายังพื้นที่ โดยผ่านการใช้งานอุปกรณ์กล้องวงจรปิดดังกล่าวประกาศความเป็นส่วนตัวในการใช้กล้อง วงจรปิดฉบับนี้ให้ข้อมูลเกี่ยวกับการดำเนินการเก็บรวบรวม ใช้หรือเปิดเผย ซึ่งข้อมูลที่สามารถทำให้สามารถระบุตัวตนเจ้าของข้อมูลได้ ซึ่งมีรายละเอียดดังนี้</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>1. ฐานกฎหมายในการประมวลผลข้อมูลส่วนบุคคล</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p class="mb-2">เราดำเนินการเก็บรวบรวมข้อมูลส่วนบุคคลภายใต้ฐานกฎหมายดังต่อไปนี้</p>
                                        <ul class="list-decimal">
                                            <li>ความจำเป็นในการป้องกันหรือระงับอันตรายต่อชีวิต ร่างกาย หรือสุขภาพของท่านหรือบุคคลอื่น</li>
                                            <li>ความจำเป็นเพื่อประโยชน์โดยชอบด้วยกฎหมาย</li>
                                            <li>ความจำเป็นในการปฏิบัติตามกฎหมายที่เกี่ยวข้อง ซึ่งควบคุมดูแลเกี่ยวกับความปลอดภัยและสภาพแวดล้อมในบริเวณสำนักงานรวมถึงทรัพย์สิน</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>2. วัตถุประสงค์ในการเก็บรวบรวมข้อมูลส่วนบุคคล</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p class="mb-2">เราดำเนินการเก็บรวบรวมข้อมูลส่วนบุคคลเพื่อวัตถุประสงค์ ดังต่อไปนี้</p>
                                        <ul class="list-decimal">
                                            <li>เพื่อปกป้องสุขภาพ ความปลอดภัย และทรัพย์สิน </li>
                                            <li>เพื่อปกป้องอาคาร สถานที่ และการเฝ้าระวังอาชญากรรม</li>
                                            <li>เพื่อสนับสนุนหน่วยงานที่เกี่ยวข้องในการบังคับใช้กฎหมายเพื่อดำเนินคดีทางกฎหมาย</li>
                                            <li>เพื่อการให้ความช่วยเหลือเหตุระงับข้อพิพาทซึ่งอาจเกิดขึ้น</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>3. ข้อมูลส่วนบุคคลที่เราเก็บรวบรวมและใช้</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p>บริษัทฯ ทำการติดตั้งกล้องวงจรปิดในตำแหน่งที่มองเห็นได้ โดยจัดวางป้ายเตือนว่ามีการใช้งานกล้องวงจรปิด ณ บริเวณทางเข้าสำนักงานเพื่อเก็บรวบรวมข้อมูลส่วนบุคคล โดยข้อมูลที่มีการเก็บรวบรวมมีดังต่อไปนี้</p>
                                        <p class="mb-2">รายการข้อมูลส่วนบุคคลที่เก็บรวบรวม</p>
                                        <ol>
                                            <li>3.1 ภาพนิ่ง</li>
                                            <li>3.2 ภาพเคลื่อนไหว</li>
                                            <li>3.3 เสียง</li>
                                            <li>3.4 ทรัพย์สิน</li>
                                        </ol>
                                        <p>ทั้งนี้บริษัทฯ จะไม่ติดตั้งกล้องวงจรปิดในพื้นที่ที่เป็นการล่วงละเมิดสิทธิขั้นพื้นฐานจนเกินสมควร ได้แก่ ห้องพักพยาบาล ห้องน้ำ เป็นต้น</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>4. การเปิดเผยข้อมูลส่วนบุคคล</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p class="mb-2">บริษัทฯจะเก็บรักษาข้อมูลในกล้องวงจรปิดไว้เป็นความลับ เว้นแต่กรณีที่มีความจำเป็นเพื่อให้สามารถบรรลุวัตถุประสงค์ในการเฝ้าระวังสังเกตการณ์ตามที่ได้ระบุในประกาศฉบับนี้ บริษัทฯอาจเปิดเผยข้อมูลแก่</p>
                                        <ol>
                                            <li>4.1 หน่วยงานที่มีอำนาจหน้าที่ตามกฎหมายกำหนด เพื่อสนับสนุนในการบังคับใช้กฎหมาย เพื่อการดำเนินการสืบสวน สอบสวน หรือการดำเนินคดีความต่างๆ </li>
                                            <li>4.2 ผู้ให้บริการบุคคลภายนอก เพื่อป้องกันหรือระงับอันตรายต่อชีวิต ร่างกาย สุขภาพ และทรัพย์สิน</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>5. สิทธิตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p>เจ้าของข้อมูลส่วนบุคคลสามารถใช้สิทธิตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562 ซึ่งมีรายละเอียดดังต่อไปนี้</p>
                                        <ul>
                                            <li>5.1 สิทธิในการเข้าถึง รับสำเนา และขอให้เปิดเผยที่มาของข้อมูลส่วนบุคคลของท่านที่เราเก็บรวบรวม เว้นแต่กรณีที่เรามีสิทธิปฏิเสธคำขอของท่านตามกฎหมายหรือคำสั่ง ศาล หรือกรณีที่คำขอมีผลกระทบที่อาจก่อให้เกิดความเสียหายต่อสิทธิและเสรีภาพของบุคคลอื่น</li>
                                            <li>5.2 สิทธิในการขอแก้ไขข้อมูลส่วนบุคคลที่ไม่ถูกต้องหรือไม่ครบถ้วน เพื่อให้มีความถูกต้อง เป็นปัจจุบัน สมบูรณ์ และไม่ก่อให้เกิดความเข้าใจผิด </li>
                                            <li>5.3 สิทธิในการขอให้ระงับการใช้ข้อมูลส่วนบุคคลในกรณีดังต่อไปนี้
                                                <ol>
                                                    <li>1. เมื่ออยู่ในช่วงเวลาที่บริษัทฯทำการตรวจสอบตามคำร้องขอให้แก้ไขข้อมูล</li>
                                                    <li>2. ข้อมูลส่วนบุคคลที่ถูกเก็บรวบรวม ถูกใช้หรือเปิดเผยโดยมิชอบด้วยกฎหมาย </li>
                                                    <li>3. เมื่อไม่จำเป็นในการเก็บรักษาข้อมูล แต่เจ้าของข้อมูลประสงค์ให้บริษัทฯเก็บรักษาข้อมูลนั้นต่อไปเพื่อประกอบการใช้สิทธิตามกฎหมาย </li>
                                                    <li>4. เมื่ออยู่ในช่วงเวลาที่กำลังพิสูจน์ให้เห็นถึงเหตุอันชอบด้วยกฎหมายในการเก็บรวบรวม ใช้หรือเปิดเผยข้อมูลส่วนบุคคล หรือตรวจสอบความจำเป็นในการเก็บ รวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของท่านเพื่อประโยชน์สาธารณะ</li>
                                                </ol>
                                            </li>
                                            <li>5.4 สิทธิในการคัดค้านการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคล เว้นแต่กรณีที่บริษัทฯปฏิเสธคำขอของท่านโดยชอบด้วยกฎหมาย หรือเพื่อประโยชน์สาธารณะตามภารกิจของบริษัทฯ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>6. ระยะเวลาในการเก็บรักษาข้อมูลส่วนบุคคล</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p>เพื่อบรรลุวัตถุประสงค์ของการเฝ้าระวังสังเกตโดยการใช้อุปกรณ์กล้องวงจรปิดตามที่ประกาศนี้กำหนด เราจะเก็บรักษาข้อมูลส่วนบุคคลในกล้องวงจรปิดที่เกี่ยวข้องกับท่าน เป็นระยะเวลา 2 เดือน อ้างอิงระยะเวลาการจัดเก็บตามนโยบายคุ้มครองข้อมูลส่วนบุคคล <a href="images/privacy-policy/PDPA_HEAD.pdf" target="_blank"><i class="fas fa-external-link-square-alt"></i></a> ทั้งนี้ เมื่อพ้นระยะเวลาดังกล่าวเราจะทำการ ลบ ทำลายข้อมูลส่วนบุคคลของท่านต่อไป</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>7. การรักษาความมั่นคงปลอดภัยข้อมูลส่วนบุคคล</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p>บริษัทฯ มีมาตรการในการรักษาความมั่นคงปลอดภัยข้อมูลส่วนบุคคลอย่างเหมาะสม ทั้งในเชิงเทคนิคและการบริหารจัดการ เพื่อป้องกันมิให้ข้อมูลสูญหาย หรือมีการเข้าถึง ลบ ทำลาย ใช้ เปลี่ยนแปลง แก้ไข หรือเปิดเผยข้อมูลส่วนบุคคลโดยไม่ได้รับอนุญาต ซึ่งสอดคล้องกับนโยบายและแนวปฏิบัติด้านความมั่นคงปลอดภัยสารสนเทศ (INFORMATION SECURITY POLICY) สามารถดูมาตรการรักษาความมั่นคงปลอดภัยข้อมูลส่วนบุคคลของผู้ควบคุมข้อมูลส่วนบุคคลได้ที่ WEBSITE ของบริษัทฯ</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>8. ความรับผิดชอบของผู้ควบคุมข้อมูลส่วนบุคคล</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p>บริษัทฯ ได้กำหนดให้เจ้าหน้าที่เฉพาะผู้ที่มีอำนาจหน้าที่เกี่ยวข้องในการจัดเก็บรวบรวม ใช้  หรือเปิดเผยข้อมูลส่วนบุคคลของกิจกรรมการประมวลผลนี้เท่านั้นที่จะสามารถเข้าถึง ข้อมูลส่วนบุคคลได้ โดยดำเนินการให้เจ้าหน้าที่ปฏิบัติตามประกาศนี้อย่างเคร่งครัด</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>9. การเปลี่ยนแปลงแก้ไขคำประกาศเกี่ยวกับความเป็นส่วนตัว</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p>ในการปรับปรุงหรือเปลี่ยนแปลงประกาศนี้ บริษัทฯ อาจพิจารณาแก้ไขเปลี่ยนแปลงตามที่เห็นสมควร และจะทำการแจ้งให้ท่านทราบผ่านช่องทาง WEBSITE ของบริษัทฯ การเข้ามาในพื้นที่ถือเป็นการรับทราบตามข้อตกลงในประกาศนี้ ทั้งนี้ โปรดระงับการเข้าพื้นที่ หากท่านไม่เห็นด้วยกับข้อตกลงในประกาศ</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>10. ช่องทางการติดต่อ</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent mb-5">
                                        <p class="mb-2">เจ้าหน้าที่คุ้มครองข้อมูลส่วน บุคคล (DATA PROTECTION OFFICER: DPO)</p>
                                        <ul class="contact">
                                            <li><strong>สถานที่ติดต่อ :</strong>ศูนย์คุ้มครองข้อมูลส่วนบุคคล บริษัท ไลท์ติ้ง แอนด์ อีควิปเมนท์ จำกัด (มหาชน) <br>เลขที่ 539/2 ชั้น 16–17 อาคารมหานครยิบซั่ม ถนนศรีอยุธยา แขวงถนนพญาไท เขตราชเทวี กรุงเทพฯ 10400</li>
                                            <li><strong>EMAIL :</strong><a href="mailto:dpo@lighting.co.th">dpo@lighting.co.th</a></li>
                                            <li><strong>TEL :</strong>02-2488133 ต่อ 1200</li>
                                            <li><strong>WEBSITE :</strong><a href="http://www.lighting.co.th">www.lighting.co.th</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content text-center mb-0">
                                        <p>ประกาศ ณ วันที่ 1 มิถุนายน 2565</p>
                                        <p>เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล DPO <br>ผู้อำนวยการอาวุโสฝ่ายทรัพยากรบุคคลและบริหารทั่วไป</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- END // 03 CCTV PRIVACY POLICY -->
                    </div>
                </div>
            </div>

        </div>
    </div>
