@{
    ViewData["Title"] = "Profile_History";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
}
<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">RESOURCE & FACILITY</div>
        </div>
    </div>
</div>

<!---------- RESOURCE & FACILITY :: HISTORY ---------->
<div class="content-padding foot-pad">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header-twoline">
                    <h5>PROFILE</h5>
                    <h1>HISTORY</h1>
                </div>
            </div>
        </div>
        <div class="history-page">
            <div class="row">
                <div class="col">
                    <h4>LIGHTING & EQUIPMENT PUBLIC COMPANY LIMITED</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="img-width img-mb"><img src="~/Frontend_assets/images/resource-facility/history-banner.jpg"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="txt-content indent f-17">
                        <p>Lighting & Equipment Public company limited was established in April 1,1993 by a group of professionals who has long been in lighting industry. The company started with marketing activity by selling fluorescent luminaries to electrical contractors and has gradually expanded it business by increasing product range as well as expanding marketing network. To strengthen its position, the company has acquired manufacturing facility including product-testing facility in 1999. In addition, the company has offered various services relative to lighting business to provide added benefit to customers. Today the company's business covers from product design to manufacturing and marketing of products to customers in both domestic and abroad. The company has a large group of well-trained professionals who are always happy to offer services and provide better value to customers. To reflect the above-mentioned, the company has positioned itself as TOTAL LIGHTING SOLUTION PROVIDER.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="content-center">
                        <a class="downloadBD-button" href="~/Frontend_assets/images/testPDF.pdf" target="_blank">
                            <div><i class="fas fa-arrow-alt-circle-down"></i>Company Profile</div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <ul class="display-tab center s-txt">
                        <li class="active" rel="1">
                            <a href="javascript:void(0)">
                                <div class="cate-txtBox">
                                    <div>TIMELINE</div>
                                </div>
                            </a>
                        </li>
                        <li rel="2">
                            <a href="javascript:void(0)">
                                <div class="cate-txtBox">
                                    <div>VDO</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="display-group">
                        <!---------- 01 TIMELINE ---------->
                        <div class="display-info" rel="1">
                            <div class="row">
                                <div class="col">
                                    <ul class="history-timeline">
                                        <li>
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline01.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline01.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline02.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline02.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline03.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline03.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline04.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline04.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline05.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline05.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline06.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline06.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline7.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline07.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline08.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline08.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline09.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline09.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline10.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline10.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline11.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline11.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline12.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline12.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline13.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline13.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline14.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline14.jpg">
                                            </a>
                                        </li>
                                        <li class="w-100">
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline15.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline15.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline16.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline16.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline17.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline17.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline18.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline18.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline19.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline19.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline20.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline20.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-width" data-fancybox="gallery" href="~/Frontend_assets/images/resource-facility/timeline21.jpg">
                                                <img src="~/Frontend_assets/images/resource-facility/timeline21.jpg">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!---------- 02 TIMELINE ---------->
                        <div class="display-info" rel="2">
                            <div class="row justify-content-center">
                                <div class="col-xl-8 col-lg-10 col-md-10 col-12">
                                    <div class="container-vdo">
                                        <iframe class="responsive-vdo" src="https://www.youtube.com/embed/--INP8wlSws"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".display-tab > li").click(function () {
                var rel = $(this).attr("rel");
                console.log(rel);
                $('.display-info').hide();
                $('.display-info[rel=' + rel + ']').fadeIn();
                $(".display-tab > li").removeClass("active");
                $(this).addClass("active");
            });
        });

        Fancybox.bind('[data-fancybox="gallery"]', {
            Toolbar: {
                display: [
                    { id: "prev", position: "center" },
                    { id: "counter", position: "center" },
                    { id: "next", position: "center" },
                    "zoom",
                    "fullscreen",
                    "download",
                    "thumbs",
                    "close",
                ],
            },
        });
    </script>
}