@{
    ViewData["Title"] = "Profile_Our_Philosophy_Vision_Misson";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
}
<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">RESOURCE & FACILITY</div>
        </div>
    </div>
</div>

<!---------- RESOURCE & FACILITY :: PHILOSOPHY ---------->
<div class="content-padding foot-pad">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header-twoline">
                    <h5>PROFILE</h5>
                    <h1>OUR PHILOSOPHY VISION & MISSION</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-11 col-12">
                <a class="img-width imgBD hover-img" data-fancybox href="~/Frontend_assets/images/resource-facility/company-philosophy.jpg">
                    <img src="~/Frontend_assets/images/resource-facility/company-philosophy.jpg">
                </a>
            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script>
        Fancybox.bind('[data-fancybox="gallery"]', {
            Toolbar: {
                display: [
                    { id: "prev", position: "center" },
                    { id: "counter", position: "center" },
                    { id: "next", position: "center" },
                    "zoom",
                    "fullscreen",
                    "download",
                    "thumbs",
                    "close",
                ],
            },
        });
    </script>
}