@{
    ViewData["Title"] = "IR_Complaints_Edit";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="toolbar" id="kt_toolbar">
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
                <h1 class="d-flex align-items-center text-dark fw-bold my-1 fs-3">ช่องทางรับเรื่องร้องเรียน</h1>
                <span class="h-20px border-gray-200 border-start mx-4"></span>
                <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-1">
                    <li class="breadcrumb-item text-muted">
                        <a href="@Url.Action("Banner","IR_Index")" class="text-muted text-hover-primary">นักลงทุนสัมพันธ์</a>
                    </li>
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-200 w-5px h-2px"></span>
                    </li>
                    <li class="breadcrumb-item text-muted">ห้องข่าว</li>
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-200 w-5px h-2px"></span>
                    </li>
                    <li class="breadcrumb-item text-dark">ช่องทางรับเรื่องร้องเรียน</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <div id="kt_content_container" class="container-xxl">
            <div class="card">
                <div class="card-body pt-0">
                    <div class="row mb-3" style="padding-top: 1.5rem!important;">
                        <div class="col-6">
                            <h2>
                                แก้ไขรายการ
                            </h2>
                        </div>
                        <div class="col-6" style="text-align:right;">
                            <a type="button" class="btn btn-secondary" href="@Url.Action("IR_Complaints_Index","IR_Contact")">ย้อนกลับ</a>
                        </div>
                    </div>
                    <form id="form_create" enctype="multipart/form-data">
                        <div class="row mb-3">
                            <div class="col-2">
                                <span>
                                    ชื่อ TH
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Title_TH" id="Title_TH" />
                            </div>
                            <div class="col-2">
                                <span>
                                    ชื่อ EN
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Title_EN" id="Title_EN" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2">
                                <span>
                                    รายละเอียด TH
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="SubTitle_TH" id="SubTitle_TH" />
                            </div>
                            <div class="col-2">
                                <span>
                                    รายละเอียด EN
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="SubTitle_EN" id="SubTitle_EN" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-2">
                                <span>
                                    ชื่อหัวข้อประเภทการรับร้องเรียน TH
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="TypeContactUS_TH" id="TypeContactUS_TH" />
                            </div>
                            <div class="col-2">
                                <span>
                                    ชื่อหัวข้อประเภทการรับร้องเรียน EN
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="TypeContactUS_EN" id="TypeContactUS_EN" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2">
                                <span>
                                    ชื่อหัวข้อรายละเอียด TH
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Detail_TH" id="Detail_TH" />
                            </div>
                            <div class="col-2">
                                <span>
                                    ชื่อหัวข้อรายละเอียด EN
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Detail_EN" id="Detail_EN" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2">
                                <span>
                                    รายละเอียดกำหนดอักษร TH
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Input_Detail_TH" id="Input_Detail_TH" />
                            </div>
                            <div class="col-2">
                                <span>
                                    รายละเอียดกำหนดอักษร EN
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Input_Detail_EN" id="Input_Detail_EN" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2">
                                <span>
                                    ชื่อหัวข้อฮัพโหลดไฟล์ TH
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Title_File_TH" id=Title_File_TH />
                            </div>
                            <div class="col-2">
                                <span>
                                    ชื่อหัวข้อฮัพโหลดไฟล์ EN
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Title_File_EN" id="Title_File_EN" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2">
                                <span>
                                    หัวข้อรายละเอียดรองรับไฟล์ TH
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Title_Description_TH" id="Title_Description_TH" />
                            </div>
                            <div class="col-2">
                                <span>
                                    หัวข้อรายละเอียดรองรับไฟล์ EN
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Title_Description_EN" id="Title_Description_EN" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2">
                                <span>
                                    ปุ่ม UploadFile TH
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Button_Submit_Title_UploadFile_TH" id="Button_Submit_Title_UploadFile_TH" />
                            </div>
                            <div class="col-2">
                                <span>
                                    ปุ่ม UploadFile  EN
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Button_Submit_Title_UploadFile_EN" id="Button_Submit_Title_UploadFile_EN" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2">
                                <span>
                                    หัวข้อร้องเรียน TH
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Title_TypeContact_TH" id="Title_TypeContact_TH" />
                            </div>
                            <div class="col-2">
                                <span>
                                    หัวข้อร้องเรียน EN
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Title_TypeContact_EN" id="Title_TypeContact_EN" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2">
                                <span>
                                    หัวข้อ ชื่อ-นามสกุล TH
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Title_Contact_Name_TH" id="Title_Contact_Name_TH" />
                            </div>
                            <div class="col-2">
                                <span>
                                    หัวข้อ ชื่อ-นามสกุล EN
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Title_Contact_Name_EN" id="Title_Contact_Name_EN" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2">
                                <span>
                                    หัวข้อ Email TH
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Title_Contact_Email_TH" id="Title_Contact_Email_TH" />
                            </div>
                            <div class="col-2">
                                <span>
                                    หัวข้อ Email EN
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Title_Contact_Email_EN" id="Title_Contact_Email_EN" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2">
                                <span>
                                    หัวข้อเบอร์โทร TH
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Title_Contact_Tel_TH" id="Title_Contact_Tel_TH" />
                            </div>
                            <div class="col-2">
                                <span>
                                    หัวข้อเบอร์โทร EN
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Title_Contact_Tel_EN" id="Title_Contact_Tel_EN" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2">
                                <span>
                                    หัวข้อช่องทางอื่นๆ TH
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Title_Contact_Other_TH" id="Title_Contact_Other_TH" />
                            </div>
                            <div class="col-2">
                                <span>
                                    หัวข้อช่องทางอื่นๆ EN
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Title_Contact_Other_EN" id="Title_Contact_Other_EN" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2">
                                <span>
                                    หัวข้อหมายเหตุ TH
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Title_Contact_Note_TH" id="Title_Contact_Note_TH" />
                            </div>
                            <div class="col-2">
                                <span>
                                    หัวข้อหมายเหตุ EN
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Title_Contact_Note_EN" id="Title_Contact_Note_EN" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2">
                                <span>
                                    ปุ่ม Submit TH
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Button_Submit_TH" id="Button_Submit_TH" />
                            </div>
                            <div class="col-2">
                                <span>
                                    ปุ่ม Submit EN
                                </span>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="Button_Submit_EN" id="Button_Submit_EN" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-2">
                                <span>
                                    สถานะการใช้งาน
                                </span>
                            </div>
                            <div class="col-4">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" name="Status" value="1" checked id="use_status" onclick="checkSwitch()">
                                    <label class="form-check-label" for="use_status">ใช้งาน</label>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="Id" id="Id" />
                    </form>
                    <div class="row mb-3" style="justify-content: right;">
                        <div class="col-1">
                            <a class="btn btn-success" onclick="submit_form()">บันทึก</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };
        var Parmeter_id = getUrlParameter('Id');

        var check = 0;
        function checkSwitch() {
            if (document.getElementById("use_status").checked == true) {
                check = 1;
            }
            else {
                check = 0;
            }
            $("#use_status").val(check);
            console.log(check)
        }

        $(() => {
            $.ajax({
                type: 'get',
                url: '/IR_Contact/Get_IR_Complaints',
                data: { Id: Parmeter_id },
                success: function (data) {
                    $("#Id").val(data.id);
                    $("#Title_TH").val(data.title_TH);
                    $("#Title_EN").val(data.title_EN);
                    $("#SubTitle_TH").val(data.subTitle_TH);
                    $("#SubTitle_EN").val(data.subTitle_EN);
                    $("#TypeContactUS_TH").val(data.typeContactUS_TH);
                    $("#TypeContactUS_EN").val(data.typeContactUS_EN);
                    $("#Detail_TH").val(data.detail_TH);
                    $("#Detail_EN").val(data.detail_EN); 
                    $("#Input_Detail_TH").val(data.input_Detail_TH);
                    $("#Input_Detail_EN").val(data.input_Detail_EN);
                    $("#Title_File_TH").val(data.title_File_TH);
                    $("#Title_File_EN").val(data.title_File_EN);
                    $("#Title_Description_TH").val(data.title_Description_TH);
                    $("#Title_Description_EN").val(data.title_Description_EN);
                    $("#Button_Submit_Title_UploadFile_TH").val(data.button_Submit_Title_UploadFile_TH);
                    $("#Button_Submit_Title_UploadFile_EN").val(data.button_Submit_Title_UploadFile_EN);
                    $("#Title_TypeContact_TH").val(data.title_TypeContact_TH);
                    $("#Title_TypeContact_EN").val(data.title_TypeContact_EN);
                    $("#Title_Contact_Name_TH").val(data.title_Contact_Name_TH);
                    $("#Title_Contact_Name_EN").val(data.title_Contact_Name_EN);
                    $("#Title_Contact_Email_TH").val(data.title_Contact_Email_TH);
                    $("#Title_Contact_Email_EN").val(data.title_Contact_Email_EN);
                    $("#Title_Contact_Tel_TH").val(data.title_Contact_Tel_TH);
                    $("#Title_Contact_Tel_EN").val(data.title_Contact_Tel_EN);
                    $("#Button_Submit_TH").val(data.button_Submit_TH);
                    $("#Button_Submit_EN").val(data.button_Submit_EN);
                    $("#Title_Contact_Other_TH").val(data.title_Contact_Other_TH);
                    $("#Title_Contact_Other_EN").val(data.title_Contact_Other_EN);
                    $("#Title_Contact_Note_TH").val(data.title_Contact_Note_TH);
                    $("#Title_Contact_Note_EN").val(data.title_Contact_Note_EN);
                    var status = '';
                    if (data.status == 1) {
                        status += '<div class="form-check form-switch">';
                        status += '<input class="form-check-input" type="checkbox" name="Status" value="1" checked id="use_status" checked onclick="checkSwitch()">';
                        status += '<label class="form-check-label" for="use_status"> ใช้งาน </label>';
                        status += '</div>';
                    }
                    else {
                        status += '<div class="form-check form-switch">';
                        status += '<input class="form-check-input" type="checkbox" name="Status" value="0" id="use_status" onclick="checkSwitch()">';
                        status += '<label class="form-check-label" for="use_status"> ใช้งาน </label>';
                        status += '</div>';
                    }
                    $("#CheckStatus").html(status);
                },
                error: (e) => {
                    displayError(e);
                }
            });
        })

        function submit_form() {
            var forms = $('#form_create')[0];
            var data = new FormData(forms);
            $.ajax({
                type: 'put',
                url: '/IR_Contact/IR_Complaints_Edit_Submit',
                data: data,
                processData: false,
                contentType: false,
                beforeSend: function () {
                    Swal.fire('Please wait')
                    Swal.showLoading()
                },
                success: function (data) {
                    Swal.fire({
                        icon: 'success',
                        title: 'บันทึกข้อมูลเรียบร้อยแล้ว',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    window.location.href = "/IR_Contact/IR_Complaints_Index";
                },
                error: (e) => {
                    displayError(e);
                }
            });
        }
    </script>
}