@{
    ViewData["Title"] = "CookiesPolicy";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";

    var cookies_Contact = (List<Lighting.Areas.Identity.Data.cookies_policy>)ViewBag.cookies_Contact;

}
<div class="top-page">
    <div class="container">
        <div class="row">
            @if (cookies_Contact.Count() != 0)
            {
                if (Context.Request.Cookies["lang"] == "EN")
                {
                    foreach (var item in ViewBag.cookies_Contact)
                    {
                        <div class="col">@item.headTitleENG</div>
                    }
                }
                else
                {
                    foreach (var item in ViewBag.cookies_Contact)
                    {
                        <div class="col">@item.headTitleTH</div>
                    }
                }
            }
            else
            {
                <div class="col">COOKIES POLICY</div>
            }
        </div>
    </div>
</div>

<!---------- COOKIES POLICY ---------->
<div class="content-padding foot-pad minH policy-page">
    <div class="container">
        @if (cookies_Contact.Count() != 0)
        {
            if (Context.Request.Cookies["lang"] == "EN")
            {
                foreach (var item in ViewBag.cookies_Contact)
                {
                    <div>@Html.Raw(item.detailsENG)</div>
                }
            }
            else
            {
                foreach (var item in ViewBag.cookies_Contact)
                {
                    <div class="col">@Html.Raw(item.detailsTH)</div>
                }
            }
        }
        else
        {
            <div class="row">
                <div class="col">
                    <div class="policy-header">
                        <h5>นโยบายการใช้งาน “COOKIES POLICY” <br>บริษัท ไลท์ติ้ง แอนด์ อีควิปเมนท์ จำกัด (มหาชน)</h5>
                        <p>ฉบับที่ 1.COOKIES/REV.1/2565</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="txt-content indent">
                        <p>ในการเข้าชมเว็บไซต์ของบริษัทฯ อาจมีการวางคุกกี้ไว้ในอุปกรณ์ของผู้เข้าชม และมีการเก็บรวบรวมข้อมูลโดยอัตโนมัติ คุกกี้บางส่วนมีความจำเป็นเพื่อให้เว็บไซต์สามารถทำงาน ได้อย่างเหมาะสม และบางส่วนเป็นคุกกี้ที่มีไว้เพื่ออำนวยความสะดวกแก่ผู้เข้าชมเว็บไซต์ คุกกี้ คือ ไฟล์ขนาดเล็กที่อาจถูกดาวน์โหลดไปยังอุปกรณ์คอมพิวเตอร์หรืออุปกรณ์มือถือ ซึ่ง ทำหน้าที่บันทึกข้อมูลและการตั้งค่าการใช้งานเว็บไซต์และ/หรือแอปพลิเคชันต่างๆ เช่น ข้อมูลการตั้งค่าภาษา ข้อมูลสถานะการเข้าใช้ ข้อมูลประวัติการเข้าใช้บริการ ทั้งนี้เพื่อช่วยให้ใช้ งานเว็บไซต์และ/หรือแอปพลิเคชันของบริษัทฯ ได้อย่างสะดวกยิ่งขึ้น</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="txt-content indent">
                        <p class="mb-2">บริษัทมีการนำคุกกี้มาใช้ 4 ประเภท ดังนี้</p>
                        <ul class="list-decimal">
                            <li><strong>STRICTLY NECESSARY COOKIES</strong> คุกกี้ที่มีความสำคัญต่อการทำงานของเว็บไซต์ ซึ่งรวมถึงคุกกี้ที่ทำให้ท่านสามารถเข้าถึงข้อมูล และใช้งานในเว็บไซต์ของบริษัทได้อย่าง ปลอดภัย การจัดการเครือข่าย และการเข้าถึงข้อมูล และใช้งานในเว็บไซต์ของบริษัทฯ</li>
                            <li><strong>FUNCTIONAL COOKIES</strong> คุกกี้ประเภทนี้ใช้จดจำสิ่งที่เลือกไว้ เมื่อกลับมาใช้งานเว็บไซต์จะช่วยให้สามารถดึงเนื้อหาหรือการใช้งานที่เหมาะสมได้</li>
                            <li><strong>PERFORMANCE COOKIES</strong> คุกกี้ประเภทนี้ช่วยจดจำ รวมถึงจำนวนผู้เข้าชมเว็บไซต์ ตลอดจนช่วยให้บริษัทฯ ทราบถึงพฤติกรรมในการเข้าเว็บไซต์ เพื่อนำมาพัฒนา ปรับปรุงเว็บไซต์ และช่วยให้บริษัทฯรับรู้ถึงความสนใจของผู้ใช้ และสามารถประเมินโฆษณาของบริษัทฯ แต่ทั้งนี้ คุกกี้จะรวบรวมข้อมูลในลักษณะที่ไม่สามารถระบุตัวบุคคลที่เฉพาะ เจาะจงได้</li>
                            <li><strong>TARGETING COOKIES</strong> คุกกี้ประเภทนี้ใช้เพื่อวิเคราะห์ตลาด เช่น การขาย วิเคราะห์พฤติกรรมของผู้เข้าเว็บไซต์ เพื่อให้บริษัทฯสามารถนำเสนอสินค้าและบริการต่างๆ ตาม ความสนใจของผู้เช้าชม</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="txt-content indent">
                        <p>การเปลี่ยนแปลงนโยบายการใช้คุกกี้บริษัทฯ อาจทำการเปลี่ยนแปลงนโยบายการใช้คุกกี้เป็นครั้งคราว เพื่อให้สอดคล้องกับการประมวลผลข้อมูล และพรบ.คุ้มครองข้อมูล ส่วนบุคคล หรือกฎหมายอื่นที่เกี่ยวข้อง บริษัทฯ จะแจ้งให้ท่านทราบถึงการแก้ไขเปลี่ยนแปลงที่สำคัญใดๆ ด้วยช่องทางที่เหมาะสม อย่างไรก็ตามท่านสามารถตรวจสอบนโยบายการใช้ คุกกี้ได้ที่ www.lighting.co.th</p>
                        <p>นโยบายการใช้คุกกี้ฉบับนี้มีผลบังคับใช้วันที่ 1 มิถุนายน 2565 เป็นต้นไป</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>