@{
    ViewData["Title"] = "Manage_Download_Page";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <form id="form_create" enctype="multipart/form-data">
                <div class="form-group p-2">
                    <label class="h4">ประเภท</label>
                    <div class="col-sm-5">
                        <select class="col-lg-8 form-controlform-select form-select-lg mb-3" aria-label=".form-select-lg example" id="Select2_DownloadType" name="DownloadType_id"></select>
                    </div>
                </div>
                <div class="form-group mt-3 p-2" style="border:1px solid black" id="place">
                    <label class="h4 mt-3">ชื่อการดาวน์โหลด</label>
                    <input type="text" class="form-control" id="download_name_th" name="Name_TH" placeholder="ชื่อการดาวน์โหลด">
                    <label class="h4 mt-3">Download Name (English)</label>
                    <input type="text" class="form-control" id="download_name_en" name="Name_EN" placeholder="Download Name">
                </div>
                <div class="custom-file mt-3 p-1" style="border:1px solid black">
                    <img style="width:500px;height:250px;display:none;" id="preview_show_img" />
                    <br />
                    <label for="formFile" class="form-label">
                        เลือกไฟล์ รูป TH
                        <br />
                        <span style="color:red;">
                            ขนาดรูปภาพ : 800 * 430 px
                        </span>
                    </label>
                    <input type="file" class="form-control" name="Image" id="file_img" accept="image/png, image/gif, image/jpeg">
                </div>
                <div class="custom-file mt-3 p-1" style="border:1px solid black">
                    <img style="width:500px;height:250px;display:none;" id="preview_show_img_EN" />
                    <br />
                    <label for="formFile" class="form-label">
                        เลือกไฟล์ รูป EN
                        <br />
                        <span style="color:red;">
                            ขนาดรูปภาพ : 800 * 430 px
                        </span>
                    </label>
                    <input type="file" class="form-control" name="Image_EN" id="file_img_EN" accept="image/png, image/gif, image/jpeg">
                </div>
                <div class="custom-file mt-3 p-1">
                    <label for="formFile" class="form-label">เลือกไฟล์สำหรับดาวน์โหลด TH</label>
                    <input type="file" class="form-control" id="file_download" name="File">
                </div>
                <div class="custom-file mt-3 p-1">
                    <label for="formFile" class="form-label">เลือกไฟล์สำหรับดาวน์โหลด EN</label>
                    <input type="file" class="form-control" id="file_download_EN" name="File_EN">
                </div>
                <div class="custom-file mt-3 p-1">
                    <label for="formFile" class="form-label"> ลิงค์ </label>
                    <input type="text" class="form-control" id="link_l_and_bim" name="L_AND_BIM_Link">
                </div>
                <div class="custom-file mt-3 p-1">
                    <div class="col-2">
                        <span>
                            สถานะการใช้งาน
                        </span>
                    </div>
                    <div class="col-4">
                        <div class="form-check form-switch">
                            <input class="form-check-input" checked type="checkbox" name="use_status" value="1" id="use_status" onclick="checkSwitch()">
                            <label class="form-check-label" for="use_status">ใช้งาน</label>
                        </div>
                    </div>
                </div>
                <center style="display:flex;justify-content:space-between;margin:3rem;">
                    <a class="btn btn-success" onclick="submit()">บันทึก/save</a>
                    <a href="@Url.Action("manage_Download_page","ManageDownload")" class="btn btn-primary">กลับ/back</a>
                </center>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(() => {
            Select2_DownloadType();

            $('#file_img').change(async function (e) {
                if (e.target.files.length === 1) {
                    image_file = e.target.files[0];
                    $('#preview_show_img').attr('src', await blobToBase64DataURL(image_file)).css("display", "block");
                }
            });
            $('#file_img_EN').change(async function (e) {
                if (e.target.files.length === 1) {
                    image_file_EN = e.target.files[0];
                    $('#preview_show_img_EN').attr('src', await blobToBase64DataURL(image_file_EN)).css("display", "block");
                }
            });
        })

        const blobToBase64DataURL = blob => new Promise(
            resolvePromise => {
                const reader = new FileReader();
                reader.onload = () => resolvePromise(reader.result);
                reader.readAsDataURL(blob);
            }
        );

        function Select2_DownloadType() {
            $.ajax({
                type: 'POST',
                url: '/ManageDownload/Get_DownloadType',
                success: function (data) {
                    if (data.Length != 0) {
                        var s = '<option selected value = "0" disabled> --กรุณาเลือก ประเภท-- </option > ';
                        $.each(data.db, function (index, item) {
                            s += '<option value="' + item.id + '">' + item.downloadType_name_ENG + '</option>';
                        });
                        $("#Select2_DownloadType").html(s);
                    }
                },
                error: function (error) {
                    console.log("AJAX Error:", error);
                }
            });
        }

        var check = 1;
        function checkSwitch() {
            if (document.getElementById("use_status").checked == true) {
                check = 1;
            }
            else {
                check = 0;
            }
            $("#use_status").val(check);
        }

        function submit() {
            let downloadType_id = $("#Select2_DownloadType").val()
            if (downloadType_id != null) {
                var forms = $('#form_create')[0];
                var data = new FormData(forms);
                $.ajax({
                    type: 'POST',
                    url: '/ManageDownload/Add_Download',
                    data: data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    beforeSend: function () {
                        Swal.fire('Please wait')
                        Swal.showLoading()
                    },
                    success: function (data) {
                        if (data.status == "success") {
                            Swal.fire({
                                icon: 'success',
                                title: data.message,
                                showConfirmButton: false,
                                timer: 2000
                            }).then(() => {
                                window.location.href = "/ManageDownload/Manage_Download_Page";
                            });
                        }
                        else {
                            Swal.fire({
                                icon: 'warning',
                                text: data.message,
                            });
                        }
                    }, error: function (e) {
                        Swal.fire({
                            icon: 'error',
                            text: e.message,
                        });
                    }
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    text: "กรุณาเลือก ประเภท",
                });
                return;
            }
        }
    </script>
}