@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
}

<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">CONTACT US</div>
        </div>
    </div>
</div>
<!---------- CONTACT US ---------->
<div class="content-padding contact-page" id="contact">
    <div class="container">
        <div class="head-office">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-7 col-12">
                    <div class="blueBox">
                        <div class="row">
                            <div class="col">
                                <h3>Head Office</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <ul class="contact-info mb-0">
                                    <li class="address">
                                        <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                        <p>
                                            <strong>Lighting and Equipment Public Company Limited</strong>
                                            539/2 ,16-17 Floor, Gypsum Metropolitan Tower.Sri-Ayudhya Rd., Rajthevee, Bangkok 10400, Thailand.
                                        </p>
                                    </li>
                                    <li>
                                        <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                        <p>(+66)2248-8133, (+66)2642-5092</p>
                                    </li>
                                    <li>
                                        <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                        <p>(+66)2248-8144, (+66)2642-5091</p>
                                    </li>
                                    <li>
                                        <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                        <ul>
                                            <li>
                                                <p>
                                                    <strong>Corporate Communication :</strong>
                                                    <a href="mailto:cco01@lighting.co.th">cco01@lighting.co.th</a>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <strong>Oversea Business :</strong>
                                                    <a href="mailto:eklukb@lighting.co.th">eklukb@lighting.co.th</a>
                                                </p>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="contactBT">
                                        <a class="buttonB" href="https://goo.gl/maps/YC8Gav9d6HQ7jGvWA" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                    </li>
                                    <li class="contactBT">
                                        <a class="buttonBD" href="" target="_blank">More Information</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-12">
                    <a class="img-width hover-img" data-fancybox href="~/Frontend_assets/images/contact/map-headoffice.jpg">
                        <img src="~/Frontend_assets/images/contact/map-headoffice.jpg">
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ul class="display-tab center s-txt">
                    <li class="active" rel="1">
                        <a href="javascript:void(0)">
                            <div class="cate-txtBox">
                                <div>SHOWROOM</div>
                            </div>
                        </a>
                    </li>
                    <li rel="2">
                        <a href="javascript:void(0)">
                            <div class="cate-txtBox">
                                <div>FACTORY & WAREHOUSE</div>
                            </div>
                        </a>
                    </li>
                    <li rel="3">
                        <a href="javascript:void(0)">
                            <div class="cate-txtBox">
                                <div>OVERSEA OFFICES</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="display-group">
                    <!---------- 01 SHOWROOM ---------->
                    <div class="display-info" rel="1">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="row">
                                    <div class="col">
                                        <h5>L&E : Lighting Solution Center</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="contact-info">
                                            <li class="address">
                                                <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                <p>9, Pakin Building Ratchadapisek RoadDindaeng, Bangkok, 10400</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                <p>(+66)246-1164-66</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                                <p>(+66)246-1161</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                <p><a href="mailto:thitipongs@lighting.co.th">thitipongs@lighting.co.th</a></p>
                                            </li>
                                            <li class="map">
                                                <a class="buttonB" href="https://goo.gl/maps/eGMjWxSzSGQHfHJF6" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- MAP :: FOR MOBILE -->
                                <div class="row d-block d-md-none">
                                    <div class="col">
                                        <a class="img-width imgBD hover-img" data-fancybox href="~/Frontend_assets/images/contact/map-rachada.jpg">
                                            <img src="~/Frontend_assets/images/contact/map-rachada.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="row">
                                    <div class="col">
                                        <h5>Rachapruek Branch</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="contact-info">
                                            <li class="address">
                                                <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                <p>3rd Floor The Crystal SB Rachapruek</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                <p>(+66)2-118-7501</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                <p><a href="mailto:nutawut.sa@lighting.co.th">nutawut.sa@lighting.co.th</a></p>
                                            </li>
                                            <li class="map">
                                                <a class="buttonB" href="https://goo.gl/maps/BN3gt1vG65YhitRa9" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                                <a class="buttonBD" href="https://www.youtube.com/watch?v=GeZV-iJ208U" target="_blank"><i class="fab fa-youtube"></i>YouTube</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- MAP :: FOR MOBILE -->
                                <div class="row d-block d-md-none">
                                    <div class="col">
                                        <a class="img-width imgBD hover-img" data-fancybox href="~/Frontend_assets/images/contact/map-ratchapruk.jpg">
                                            <img src="~/Frontend_assets/images/contact/map-ratchapruk.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- MAP :: FOR PC -->
                        <div class="d-none d-md-block">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <a class="img-width imgBD hover-img" data-fancybox href="~/Frontend_assets/images/contact/map-rachada.jpg">
                                        <img src="~/Frontend_assets/images/contact/map-rachada.jpg">
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <a class="img-width imgBD hover-img" data-fancybox href="~/Frontend_assets/images/contact/map-ratchapruk.jpg">
                                        <img src="~/Frontend_assets/images/contact/map-ratchapruk.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!---------- 02 FACTORY & WAREHOUSE ---------->
                    <div class="display-info" rel="2">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="row">
                                    <div class="col">
                                        <h5>L&E Manufacturing Company Limited. (LEM)</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="contact-info">
                                            <li class="address">
                                                <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                <p>85/3 Soi Prachumporn Chaengwattana Road, Laksi, Bangkok 10210</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                <p>(+66)2-982-4629</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                <p><a href="mailto:secretary.lem@gmail.com">secretary.lem@gmail.com</a></p>
                                            </li>
                                            <li class="map">
                                                <a class="buttonB" href="https://goo.gl/maps/4odJ6QpsS5nSsKeA7" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- MAP :: FOR MOBILE -->
                                <div class="row d-block d-md-none">
                                    <div class="col">
                                        <a class="img-width imgBD hover-img" data-fancybox href="~/Frontend_assets/images/contact/map-chaengwattana.jpg">
                                            <img src="~/Frontend_assets/images/contact/map-chaengwattana.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="topic-wSubtopic">
                                            <h5>L&E Noppawong Factory</h5>
                                            <ul>
                                                <li>L&E Solid State CO.,LTD</li>
                                                <li>L&E Manufacturing CO.,LTD</li>
                                                <li>Warehouse and Distribution Center</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="contact-info">
                                            <li class="address">
                                                <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                <p>45/25-29 Moo 3 Bangbuothong-Supanburi Road ,Namai Latlumkaeo, Pathumthani 12140</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                <p>(+66)2 150 2601-4</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                                <p>(+66)2 150 2605</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                <p><a href="mailto:secretaryled@lighting.co.th">secretaryled@lighting.co.th</a></p>
                                            </li>
                                            <li class="map">
                                                <a class="buttonB" href="https://goo.gl/maps/kcpEF3pdbXiznSQh9" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- MAP :: FOR MOBILE -->
                                <div class="row d-block d-md-none">
                                    <div class="col">
                                        <a class="img-width imgBD hover-img" data-fancybox href="~/Frontend_assets/images/contact/map-noppawong.jpg">
                                            <img src="~/Frontend_assets/images/contact/map-noppawong.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- MAP :: FOR PC -->
                        <div class="d-none d-md-block">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <a class="img-width imgBD hover-img" data-fancybox href="~/Frontend_assets/images/contact/map-chaengwattana.jpg">
                                        <img src="~/Frontend_assets/images/contact/map-chaengwattana.jpg">
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <a class="img-width imgBD hover-img" data-fancybox href="~/Frontend_assets/images/contact/map-noppawong.jpg">
                                        <img src="~/Frontend_assets/images/contact/map-noppawong.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---------- 03 OVERSEA OFFICES ---------->
                    <div class="display-info" rel="3">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="row">
                                    <div class="col">
                                        <h5>Lighting & Equipment (Myanmar) CO.,LTD</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="contact-info">
                                            <li class="address">
                                                <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                <p>No. 19-L Myint Zu 2 street, Yankin Township Between Kabaraye Pagoda Road and Wayzayantar Road, Yangon, Myanmar.</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                <p>(+95)94-5001-0468</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                <p><a href="mailto:le_myanmar@lighting.co.th">le_myanmar@lighting.co.th</a></p>
                                            </li>
                                            <li class="map">
                                                <a class="buttonB" href="https://goo.gl/maps/i7e49ypzdgnqxUuH7" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- MAP :: FOR MOBILE -->
                                <div class="row d-block d-md-none">
                                    <div class="col">
                                        <a class="img-width imgBD hover-img" data-fancybox href="~/Frontend_assets/images/contact/map-myanmar.jpg">
                                            <img src="~/Frontend_assets/images/contact/map-myanmar.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="row">
                                    <div class="col">
                                        <h5>Lighting & Equipment (Vietnam) CO.,LTD</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="contact-info">
                                            <li class="address">
                                                <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                <p>Lot 101/3 Road No.1 Long Binh (AMATA) Industrial Park, Long Binh WardBien Hoa City, Dong Nai Province, Vietnam</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                <p>(+84)251 3685688</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                                <p>(+66)2 150 2605</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                <p><a href="mailto:eklukb@lighting.co.th">eklukb@lighting.co.th</a>,</p>
                                                <p><a href="mailto:weerada.wo@lighting.co.th">weerada.wo@lighting.co.th</a>,</p>
                                                <p><a href="mailto:chinh@lighting.co.th">chinh@lighting.co.th</a></p>
                                            </li>
                                            <li class="map">
                                                <a class="buttonB" href="https://goo.gl/maps/vditqFYPjnSBTo8q6" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- MAP :: FOR MOBILE -->
                                <div class="row d-block d-md-none">
                                    <div class="col">
                                        <a class="img-width imgBD hover-img" data-fancybox href="~/Frontend_assets/images/contact/map-vietnam.jpg">
                                            <img src="~/Frontend_assets/images/contact/map-vietnam.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- MAP :: FOR PC -->
                        <div class="d-none d-md-block">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <a class="img-width imgBD hover-img" data-fancybox href="~/Frontend_assets/images/contact/map-chaengwattana.jpg">
                                        <img src="~/Frontend_assets/images/contact/map-chaengwattana.jpg">
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <a class="img-width imgBD hover-img" data-fancybox href="~/Frontend_assets/images/contact/map-noppawong.jpg">
                                        <img src="~/Frontend_assets/images/contact/map-noppawong.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="row">
                                    <div class="col">
                                        <h5>Representative Office of Indonesia</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="contact-info">
                                            <li class="address">
                                                <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                <p>The Vida Building 7th Floor, JI. Raya Pejuaagan No.8, Kebon Jeruk - Jakata Barat, Jakata 11530, Indonesia</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                <p>(+62)212-977-8000</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-mobile-alt"></i></div>
                                                <p>(+62)812-878-1918, (+62)818-083-3247</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                                <p>(+62)212-977-8001</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                <p><a href="mailto:jemmy@lighting.co.th">jemmy@lighting.co.th</a></p>
                                            </li>
                                            <li class="map">
                                                <a class="buttonB" href="https://goo.gl/maps/UH5a9GKEKKTWsdG56" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="row">
                                    <div class="col">
                                        <h5>Representative Office of Malaysia</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="contact-info">
                                            <li class="address">
                                                <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                <p>Contact : Mr.Alex Goh</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                <p>(+60)1-2286-1288</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                <p><a href="mailto:alex.goh@lighting.co.th">alex.goh@lighting.co.th</a></p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="row">
                                    <div class="col">
                                        <h5>Corporate Showroom in Combodia</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="contact-info">
                                            <li class="address">
                                                <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                <p>Home Access Co.,Ltd. THAN'S Building No.46, Mao Tse Toung Blvd (245) comer 95 road, Phnom Penh 120111, Combodia</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                <p>(+855)23-216-195</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                <p><a href="mailto:sale@myhomeaccess.com">sale@myhomeaccess.com</a></p>
                                            </li>
                                            <li class="map">
                                                <a class="buttonB" href="https://goo.gl/maps/Su3xsFomGjxvp7v86" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>