@{
    ViewData["Title"] = "NewDetail";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
}
<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">NEWS</div>
        </div>
    </div>
</div>
<!---------- NEWS :: DETAIL ---------->
<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-11 col-md-11 col-12">
                    <div class="news-page">
                        <div class="row">
                            <div class="col">
                                <h4>News Topic News Topic News Topic News Topic News Topic News Topic News Topic</h4>
                                <div class="news-date">20 FEB 2023 </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="img-width"><img src="~/Frontend_assets/images/news/news01.jpg"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="txt-content indent">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus arcu bibendum at varius vel pharetra vel turpis nunc. Egestas erat imperdiet sed euismod nisi porta. In hac habitasse platea dictumst. Massa tempor nec feugiat nisl pretium fusce id. Massa id neque aliquam vestibulum morbi. A scelerisque purus semper eget. Velit laoreet id donec ultrices tincidunt arcu non sodales neque. Ornare aenean euismod elementum nisi. Duis tristique sollicitudin nibh sit amet commodo nulla facilisi. Mi in nulla posuere sollicitudin aliquam ultrices sagittis. Urna duis convallis convallis tellus. Cursus metus aliquam eleifend mi in nulla posuere sollicitudin. Nulla facilisi cras fermentum odio eu. Rutrum tellus pellentesque eu tincidunt.</p>
                                    <p>A condimentum vitae sapien pellentesque habitant morbi tristique senectus et. Et tortor at risus viverra adipiscing at in tellus. Adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla. Non enim praesent elementum facilisis. Habitant morbi tristique senectus et. Elementum integer enim neque volutpat ac tincidunt vitae semper quis. Congue eu consequat ac felis donec et. Amet purus gravida quis blandit turpis cursus. Ultrices vitae auctor eu augue ut. Orci sagittis eu volutpat odio. Volutpat blandit aliquam etiam erat velit scelerisque. Praesent semper feugiat nibh sed pulvinar. Sit amet consectetur adipiscing elit. Posuere lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6>Photo Album</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <ul class="news-gallery">
                                    <li><a data-fancybox="gallery" href="~/Frontend_assets/images/news/news01.jpg"><div class="img-width"><img src="~/Frontend_assets/images/news/news01.jpg"></div></a></li>
                                    <li><a data-fancybox="gallery" href="~/Frontend_assets/images/news/news04.jpg"><div class="img-width"><img src="~/Frontend_assets/images/news/news04.jpg"></div></a></li>
                                    <li><a data-fancybox="gallery" href="~/Frontend_assets/images/news/news05.jpg"><div class="img-width"><img src="~/Frontend_assets/images/news/news05.jpg"></div></a></li>
                                    <li><a data-fancybox="gallery" href="~/Frontend_assets/images/news/news06.jpg"><div class="img-width"><img src="~/Frontend_assets/images/news/news06.jpg"></div></a></li>
                                    <li><a data-fancybox="gallery" href="~/Frontend_assets/images/news/news07.jpg"><div class="img-width"><img src="~/Frontend_assets/images/news/news07.jpg"></div></a></li>
                                    <li><a data-fancybox="gallery" href="~/Frontend_assets/images/news/news08.jpg"><div class="img-width"><img src="~/Frontend_assets/images/news/news08.jpg"></div></a></li>
                                    <li><a data-fancybox="gallery" href="~/Frontend_assets/images/news/news09.jpg"><div class="img-width"><img src="~/Frontend_assets/images/news/news09.jpg"></div></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="doubleBD"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="content-center">
                                    <a class="buttonB" href="@Url.Action("New","New")"><i class="fas fa-long-arrow-alt-left"></i>Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>