@{
    ViewData["Title"] = "Manage_SmartSolution";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}

<style>
    .img-container{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        box-sizing: border-box;
    }
    .link-container{
        background-color: rgba(0,0,0,0.2);
        box-sizing: border-box;
        height:auto;
        overflow-y:auto;

    }
    .input-link{
        height:auto;
        padding:0.5rem;
        display:grid;
        grid-template-columns: 7rem auto 10rem 10rem;
        gap: 1rem;
        border-bottom:1px solid black;
        box-sizing:border-box;
        & > span{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align:center;
        word-wrap:break-word;
        }
    }

    .input-popup {
        z-index:10000;
        position:fixed;
        top:0;
        left:0;
        width:100vw;
        width:100dvw;
        height:100vh;
        height:100dvh;
        background:rgba(0,0,0,0.4);

        display:flex;
        justify-content:center;
        flex-direction:column;
        align-items:center;
    }

        display:grid;
        grid-template-rows: 3rem auto auto 3rem 3rem;
        gap:3rem;
        background-color:white;
        border-radius:10px;
        & > h1{
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align:center;
        }
    }
</style>
<div class="container" style="margin-bottom:3rem;">
    <div class="row">
        <div class="col-12">
            @*preview file img*@
            <div class="img-container">
                <img id="content_preiew_img" style="width:100%;height:40vh;display:none;" />
            </div>
            <div class="form-group mt-2 p-1">
                <label class="h4">
                    เลือกไฟล์ภาพพรีวิวคอนเทนต์
                    <br />
                    <span style="color:red;">
                        ขนาดรูปภาพ : 1200 * 620 px
                    </span>
                </label>
                <input type="file" class="form-control" id="content_file_img">
            </div>
            @*title*@
            <div class="form-group mt-2 p-1">
                <label class="h4">ชื่อหัวข้อ (ภาษาไทย)</label>
                <input type="text" class="form-control" id="title_th" placeholder="ชื่อหัวข้อ">
            </div>
            <div class="form-group mt-2 p-1">
                <label class="h4">Title (English)</label>
                <input type="text" class="form-control" id="title_en" placeholder="ชื่อหัวข้อ">
            </div>
            @*file img*@
            <div class="img-container">
                <img id="preiew_img" style="width:30vh;height:30vh;display:none;" />
            </div>
            <div class="form-group mt-2 p-1">
                <label class="h4">
                    เลือกไฟล์ภาพหน้าคอนเทนต์
                    <br />
                    <span style="color:red;">
                        ขนาดรูปภาพ : 300 * 300 px
                    </span>
                </label>
                <input type="file" class="form-control" id="file_img">
            </div>
            @*explan*@
            <div class="form-group mt-3 p-1">
                <label class="h4">คำอธิบายใต้ภาพ (ภาษาไทย)</label>
                <textarea id="expanation_th"></textarea>
            </div>
            <div class="form-group mt-3 p-1">
                <label class="h4">Explanation (English)</label>
                <textarea id="expanation_en"></textarea>
            </div>
            @*link*@
            <div id="link_list" class="link-container">
            </div>
            <center><button class="btn bg-success mt-3" onclick="openPopup()">เพิ่มลิ้ง/add link</button></center>
            @*content1*@
            <div class="form-group mt-3 p-1">
                <label class="h4">คอนเทนต์ (ภาษาไทย)</label>
                <textarea id="content_th"></textarea>
            </div>
            <div class="form-group mt-3 p-1">
                <label class="h4">Content (English)</label>
                <textarea id="content_en"></textarea>
            </div>
            <div style="margin:1rem;display:flex;justify-content:space-between;">
                <button class="btn bg-success" onclick="addSolution()">บันทึกข้อมูล/save</button>
                <a href="@Url.Action("Manage_Page","ManageSmartSolution")" class="btn bg-info">กลับ/back</a>
            </div>
        </div>
    </div>
</div>

<div class="input-popup" style="display:none;" id="sub_img_popup">
    <div class="input-box">
        <h1>เลือกรูปและไฟล์</h1>
        <div style="display:flex;justify-content:center;align-items:center;flex-direction:column;">
            <img id="preview_subImg" style="height:40vh;width:40vh;" />
        </div> 
        <div>
            <span style="color:red;">
                ขนาดรูปภาพ : 400 * 100 px
            </span>
        </div>
        <input type="file" id="file_img_preview" />
        <input type="text" id="txt_link"/>
        <div style="display:flex;justify-content:space-between;">
            <button class="btn bg-success" onclick="addImageLink()">ตกลง</button>
            <button class="btn btn-danger" onclick="openPopup()">ยกเลิก</button>
        </div>
    </div>
</div>

<div class="input-popup" style="display:none;" id="edit_sub_img_popup">
    <div class="input-box">
        <h1>เลือกรูปและไฟล์</h1>
        <div style="display:flex;justify-content:center;align-items:center;flex-direction:column;">
            <img id="edit_preview_subImg" style="height:40vh;width:100%;" />
        </div>
        <span style="color:red;">ภาพขนาด 400*100px</span>
        <input type="file" class="form-control" id="edit_file_img_preview" />
        <input type="text" id="edit_txt_link" />
        <div style="display:flex;justify-content:space-between;">
            <button class="btn bg-success" onclick="saveEditLink()">ตกลง/save</button>
            <button class="btn btn-danger" onclick="editClosePopup()">ยกเลิก/cancle</button>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        var explan_en;
        var explan_th;
        var content_en;
        var content_th;

        var edit_id = null;

        ClassicEditor
            .create(document.querySelector('#expanation_th'))
            .then(editor => {
                console.log('Editor was initialized', editor);
                explan_th = editor;
            })
            .catch(error => {
                console.error(error);
            });
        ClassicEditor
            .create(document.querySelector('#expanation_en'))
            .then(editor => {
                console.log('Editor was initialized', editor);
                explan_en = editor;
            })
            .catch(error => {
                console.error(error);
            });

        ClassicEditor
            .create(document.querySelector('#content_th'))
            .then(editor => {
                console.log('Editor was initialized', editor);
                content_th = editor;
            })
            .catch(error => {
                console.error(error);
            });
        ClassicEditor
            .create(document.querySelector('#content_en'))
            .then(editor => {
                console.log('Editor was initialized', editor);
                content_en = editor;
            })
            .catch(error => {
                console.error(error);
            });

        var preview_image_file, preview_subimg_file,edit_preview_subimg_file, content_preview_file;
        var link_img = [], add_link_number = 0; //[{file,link,id}]

        async function addInputFile(img, link, id) {
            let img_b64 = await blobToBase64DataURL(img);
            return (`
            <div id='input_list' class='input-link'>
                <div class='img-container' >
                    <img  src="${img_b64}"  style='width:100%;height:100%;' />
                </div>
                <span>${link}</span>
                <button class="btn btn-warning"  onClick="editLink('${img_b64}','${link}',${id})">แก้ไข/edit</button>
                <button class="btn btn-danger"  onClick="deleteLink(${id})">ลบ/delete</button>
            </div>`);
        }

        $(document).ready(function () {

            $("#content_file_img").change(async function (e) {
                if (e.target.files.length === 1) {
                    content_preview_file = e.target.files[0];
                    $('#content_preiew_img').attr('src', await blobToBase64DataURL(content_preview_file)).css("display", "block");
                }
            });

            $("#file_img_preview").change(async function (e) {
                if (e.target.files.length === 1) {
                    preview_subimg_file = e.target.files[0];
                    $('#preview_subImg').attr('src', await blobToBase64DataURL(preview_subimg_file)).css("display", "block");
                }
            });

            $("#edit_file_img_preview").change(async function (e) {
                if (e.target.files.length === 1) {
                    edit_preview_subimg_file = e.target.files[0];
                    $('#edit_preview_subImg').attr('src', await blobToBase64DataURL(edit_preview_subimg_file)).css("display", "block");
                }
            });

            $('#file_img').change(async function (e) {
                if (e.target.files.length === 1) {
                    preview_image_file = e.target.files[0];
                    $('#preiew_img').attr('src', await blobToBase64DataURL(preview_image_file)).css("display", "block");
                }
            });
        });

        async function saveEditLink() {
            let link = $("#edit_txt_link").val();
            if (link != "" && edit_id != null) {
                link_img = link_img.map(x => x.id === edit_id ? { file: edit_preview_subimg_file != null ? edit_preview_subimg_file : x.file, link: link, id: x.id} : { ...x });
                console.log(link_img);
                let html_link = "";
                for (let i = 0; i < link_img.length; i++) {
                    html_link += await addInputFile(link_img[i].file, link_img[i].link, link_img[i].id);
                }
                $("#link_list").html(html_link);

                $("#edit_txt_link").val('');
                edit_preview_subimg_file = null;
                editClosePopup();
            }
        }

        function editLink(img, link, id) {
            $("#edit_sub_img_popup").css("display", "flex");
            $("#edit_preview_subImg").attr("src", img).css("display", "flex");
            $("#edit_txt_link").val(link);
            edit_id = id;
        }

        function editClosePopup(){
            $("#edit_sub_img_popup").css("display", "none");
            edit_id = null;
        }

        function openPopup() {
            if ($("#sub_img_popup").css("display") == "flex"){
                $("#sub_img_popup").css("display","none");
                $("#preview_subImg").attr("src", "").css("display", "none");
            }else{
                $("#sub_img_popup").css("display","flex");
            }
        }

        async function deleteLink(id) {
            link_img = link_img.filter(x => x.id !== id);
            let html_link = "";
            for (let i = 0; i < link_img.length; i++) {
                html_link += await addInputFile(link_img[i].file, link_img[i].link, link_img[i].id)
            }
            $("#link_list").html(html_link);
        }

        async function addImageLink() {
            let link = $("#txt_link").val();
            if (preview_subimg_file != null && link != ""){
                link_img.push({ file: preview_subimg_file, link: link, id: add_link_number });

                let html_link = "";
                for (let i = 0; i < link_img.length; i++) {
                    html_link += await addInputFile(link_img[i].file, link_img[i].link, link_img[i].id)
                }
                add_link_number++;
                $("#link_list").html(html_link);

                $("#txt_link").val('');
                preview_subimg_file = null;
                openPopup();
            }
        }

        function addSolution() {

            let form = new FormData();

            if (preview_image_file != undefined) {
                form.append("PreviewImg", preview_image_file);
            } else {
                alert("กรุณาใส่รูป ภาพพรีวิวคอนเทนต์");
                return;
            }

            if (content_preview_file != undefined) {
                form.append("DetailImg", content_preview_file);
            } else {
                alert("กรุณาใส่รูป ภาพหน้าคอนเทนต์");
                return;
            }

            form.append("TitleName_TH", $("#title_th").val());
            form.append("TitleName_EN", $("#title_en").val());
            form.append("Explanation_TH", explan_th.getData());
            form.append("Explanation_EN", explan_en.getData());
            form.append("Content_TH", content_th.getData());
            form.append("Content_EN", content_en.getData());

            for (let i = 0; i < link_img.length; i++) {
                form.append("Links", link_img[i].link);
                form.append("LinkFiles", link_img[i].file);
            }


            $.ajax({
                type: 'POST',
                url: '/ManageSmartSolution/Add',
                data: form,
                processData: false,
                contentType: false,
                cache: false,
                beforeSend: function () {
                    Swal.fire('Please wait')
                    Swal.showLoading()
                },
                success: function (data) {
                    if (data.status == "success") {
                        Swal.fire({
                            icon: 'success',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 2000
                        }).then(() => {
                            window.location.href = "/ManageSmartSolution/Manage_Page";
                        });
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            text: data.message,
                        });
                    }
                }, error: function (e) {
                    Swal.fire({
                        icon: 'error',
                        text: e.message,
                    });
                    console.log(e.message);
                    console.log(e.inner);
                }
            });
        }

        const blobToBase64DataURL = blob => new Promise(
            resolvePromise => {
                const reader = new FileReader();
                reader.onload = () => resolvePromise(reader.result);
                reader.readAsDataURL(blob);
            }
        );
    </script>
}