@{
    ViewData["Title"] = "SmartSolutionDetail";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
}
<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">SMART SOLUTION</div>
        </div>
    </div>
</div>

<!---------- SMART SOLUTION :: DETAIL ---------->
<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad solution-page">
            <div class="row justify-content-center">
                <div class="col-lg-11 col-12">
                    <div class="row">
                        <div class="col">
                            <h2>ICON LINK (APP)</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="img-width img-mb"><img src="~/Frontend_assets/images/smart-solution/smart-solution-banner.jpg"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="txt-content indent">
                                <p>Icon Link เป็น แอปพลิเคชั่น ( App) บนสมาร์ทโฟน หรือ แท็บเล็ตที่สามารถควบคุมอุปกรณ์ต่าง ๆ ที่ใช้ชิฟ Icon link ไว้ภายใน อาทิเช่น หลอดไฟ, กล้อง, ปลั๊กไฟ เป็นต้น ให้สามารถทำงานตามที่เราต้องการ อีกทั้ง Icon Link App ยังเชื่อมต่อ กับ Alexa และ Google Home ทำให้อุปกรณ์ต่างๆเหล่านี้สามารถสั่งงานด้วยเสียงได้ การทำงานของ Icon Link สามารถทำได้ โดยการนำอุปกรณ์มาทำการเชื่อมต่อกับ Router ภายในบ้านผ่าน Icon Link App หลังจากนั้นอุปกรณ์จะเชื่อมต่อกับ Cloud Server ซึ่งจะเป็นตัวกลางในการติดต่อกับสมาร์ทโฟนหรือแท็บเล็ต ผ่าน 3G/4G/5G หรือ Wifi ทำให้ผู้ใช้สามารถควบคุมการทำงานของอุปกรณ์ภายในบ้านได้ ไม่ว่าคุณจะอยู่ที่ใดก็ตาม</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-10 col-lg-11 col-md-11 col-12">
                            <ul class="solution-download">
                                <li><a href="" target="_blank"><img src="~/Frontend_assets/images/smart-solution/bt-appstore.jpg"></a></li>
                                <li><a href="" target="_blank"><img src="~/Frontend_assets/images/smart-solution/bt-googleplay.jpg"></a></li>
                                <li><a href="" target="_blank"><img src="~/Frontend_assets/images/smart-solution/bt-wiseplus.jpg"></a></li>
                                <li><a href="" target="_blank"><img src="~/Frontend_assets/images/smart-solution/bt-wisepro.jpg"></a></li>
                                <li><a href="" target="_blank"><img src="~/Frontend_assets/images/smart-solution/bt-wisenb.jpg"></a></li>
                                <li><a href="" target="_blank"><img src="~/Frontend_assets/images/smart-solution/bt-product.jpg"></a></li>
                                <li><a href="" target="_blank"><img src="~/Frontend_assets/images/smart-solution/bt-usermanual.jpg"></a></li>
                                <li><a href="" target="_blank"><img src="~/Frontend_assets/images/smart-solution/bt-usermanualvdo.jpg"></a></li>
                                <li><a href="" target="_blank"><img src="~/Frontend_assets/images/smart-solution/bt-contact.jpg"></a></li>
                                <li><a href="" target="_blank"><img src="~/Frontend_assets/images/smart-solution/bt-project.jpg"></a></li>
                                <li><a href="" target="_blank"><img src="~/Frontend_assets/images/smart-solution/bt-catalogue.jpg"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="content-center">
                                <div class="topicBD-Box">
                                    <div>MAIN FEATURES</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>ICON LINK - EASY</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul class="list-decimal indent">
                                <li>ICON LINK เหมาะสำหรับบ้านและที่อยู่อาศัยอัจฉริยะ (Smart Home) โดยแบ่งออกเป็น ICON LINK - EASY กับ ICON LINK - PRO</li>
                                <li>ICON LINK - EASY เหมาะสำหรับผู้ที่เริ่มต้นใช้ระบบ Smart Home เพราะสามารถติดตั้งอุปกรณ์ได้ด้วยตนเอง</li>
                                <li>App : ICON LINK เพียงตัวเดียวสามารถควบคุมและสื่อสารกับอุปกรณ์ IoT ต่างๆ ที่ใช้เทคโนโลยี WiFi/Bluetooth/Zigbee/IR ได้ เพราะสื่อสาร ผ่าน Server ตัวเดียวกัน</li>
                                <li>การใช้ Voice Command นั้นจะต้องลงทะเบียนกับเจ้าของ Platform เช่น Alexa, Google Home เป็นต้นผ่าน App : ICON LINK (อุปกรณ์ Voice Command สามารถหาซื้อได้ทั่วไป)</li>
                                <li>ICON LINK สามารถใช้ได้กับหลอดไฟที่ใช้เทคโนโลยี WiFi หรือเทคโนโลยี Bluetooth ก็ได้ กรณีที่เลือกใช้หลอดไฟ Bluetooth ต้องมี Gateway ด้วย ซึ่งเหมาะกับบ้านที่ต้องควบคุมหลอดไฟจำนวนมาก</li>
                                <li>ICON LINK สามารถเปิด-ปิด และตั้งเวลาเครื่องใช้ไฟฟ้าต่างๆ ที่ต่อผ่านปลั๊กไฟที่มี Chip ICON LINK</li>
                                <li>ICON LINK สามารถควบคุมอุปกรณ์ไฟฟ้าที่ใช้เทคโนโลยี IR (Infrared) เช่น แอร์ โทรทัศน์ และเครื่องเสียง เป็นต้น โดยต้องมี IR Gateway</li>
                                <li>ICON LINK สามารถควบคุมและสื่อสารกับ Smart Alarm ซึ่งเป็นระบบเตือนภัยในบ้านประกอบด้วย Door Bell, Motion Sensor, Door Sensor Remote Control (โดยผ่าน RF433)</li>
                                <li>ICON LINK สามารถควบคุมและสื่อสารกับ Smart Controller เพื่อเปิด/ปิด อุปกรณ์ไฟฟ้าต่างๆ เช่น หลอดต่างๆ เป็นต้น นอกจากนี้ยังสามารถ ควบคุม Smart Controller ด้วย Smart Switch ได้</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>ICON LINK - PRO</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul class="list-decimal indent">
                                <li>ICON LINK เหมาะสำหรับบ้านและที่อยู่อาศัยอัจฉริยะ (Smart Home) โดยแบ่งออกเป็น ICON LINK - EASY กับ ICON LINK - PRO</li>
                                <li>ICON LINK - PRO เหมาะสำหรับผู้ประสงค์จะติดตั้งอุปกรณ์อัจฉริยะต่างๆหลายชนิด และบางชนิดต้องติดตั้งโดยช่างผู้ชำนาญ</li>
                                <li>App : ICON LINK เพียงตัวเดียวสามารถควบคุมและสื่อสารกับอุปกรณ์ IoT ต่างๆที่ใช้เทคโนโลยี WiFi/Bluetooth/Zigbee/IR ได้ เพราะสื่อสาร ผ่าน Server ตัวเดียวกัน</li>
                                <li>การใช้ Voice Command นั้นจะต้องลงทะเบียนกับเจ้าของ Platform เช่น Alexa, Google Home เป็นต้นผ่าน App : ICON LINK (อุปกรณ์ Voice Command สามารถหาซื้อได้ทั่วไป)</li>
                                <li>ICON LINK สามารถใช้ได้กับหลอดไฟที่ใช้เทคโนโลยี WiFi หรือเทคโนโลยี Bluetooth ก็ได้ กรณีที่เลือกใช้หลอดไฟ Bluetooth ต้องมี Gateway ด้วย ซึ่งเหมาะกับบ้านที่ต้องควบคุมหลอดไฟจำนวนมาก</li>
                                <li>ICON LINK สามารถเปิด-ปิด และตั้งเวลาเครื่องใช้ไฟฟ้าต่างๆที่ต่อผ่านปลั๊กไฟที่มี Chip ICON LINK</li>
                                <li>ICON LINK สามารถควบคุมอุปกรณ์ไฟฟ้าที่ใช้เทคโนโลยี IR (Infrared) เช่น แอร์ โทรทัศน์ และเครื่องเสียง เป็นต้น โดยต้องมี IR Gateway</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="content-center mt-4">
                                <a class="buttonB" href="@Url.Action("SmartSolution","SmartSolution")"><i class="fas fa-long-arrow-alt-left"></i>Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>