@{
    ViewData["Title"] = "SmartSolution";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
    var lang = Context.Request.Cookies["lang"];
}
@model IEnumerable<Lighting.Areas.Identity.Data.Smart_Solution>

<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">SMART SOLUTION</div>
        </div>
    </div>
</div>
<!---------- SMART SOLUTION ---------->
<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad solution-page">
            <div class="three-colPad">
                <div class="row">
                    @foreach(var solution in Model){
                    <div class="col-lg-3 col-md-4 col-6">
                            <a class="contentBox" href="@Url.Action("SmartSolutionDetail","SmartSolution",new {name = solution.TitleName_EN})">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/@solution.PreviewImg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                            @if (lang == "TH")
                                            {
                                                <p>@solution.TitleName_TH</p>
                                            }else
                                            {
                                                <p>@solution.TitleName_EN</p>
                                            }
                                        </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>