@{
    ViewData["Title"] = "ApplyJob";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
}

<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">APPLY JOB</div>
        </div>
    </div>
</div>
<!---------- APPLY JOB ---------->
<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <a class="img-width imgBD hover-img mb-3" href="~/Frontend_assets/images/testPDF.pdf" target="_blank"><img src="~/Frontend_assets/images/job/job01.jpg"></a>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <a class="img-width imgBD hover-img" href="~/Frontend_assets/images/testPDF.pdf" target="_blank"><img src="~/Frontend_assets/images/job/job02.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="job-acc">
                        <div class="panel-group" id="j-accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <!-- POSITION :: 01 -->
                                <div class="panel-heading" role="tab">
                                    <div class="row">
                                        <div class="col">
                                            <h5>Product Engineer (Facade & Special) : Product</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <ul class="job-position">
                                                <li><i class="fas fa-calendar-alt"></i>วันที่ 16 มกราคม 2566</li>
                                                <li><i class="fas fa-user"></i>1 อัตรา</li>
                                                <li><i class="fas fa-building"></i>สำนักงานใหญ่ พญาไท</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <a data-toggle="collapse" data-parent="#j-accordion" href="#section01" aria-expanded="true">
                                                <ul>
                                                    <li>View More</li>
                                                    <li>View Less</li>
                                                </ul>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div id="section01" class="panel-collapse collapse" role="tabpanel" data-parent="#j-accordion">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col">
                                                <h6>Responsibilities</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <ul class="list-decor">
                                                    <li>บริหารจัดการสินค้าในกลุ่ม LED Facade lighting</li>
                                                    <li>สนับสนุนข้อมูลทางเทคนิคให้กับฝ่ายขายและลูกค้า</li>
                                                    <li>ควบคุมคุณภาพ จัดหาและพัฒนาสินค้า เพื่อตอบสนองความต้องการของลูกค้า</li>
                                                    <li>นำเสนอสินค้าในกลุ่มงานโครงการกับผู้ออกแบบ ผู้รับเหมา และวิศวกร</li>
                                                    <li>ประสานงานกับหน่วยงานต่างๆ ที่เกี่ยวข้อง ทั้งภายในและภายนอกองค์กร</li>
                                                    <li>อื่นๆ ตามที่ได้รับมอบหมายจากผู้บังคับบัญชา</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <h6>Responsibilities</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <ul class="list-decor">
                                                    <li>อายุไม่เกิน 30 ปี</li>
                                                    <li>ปริญญาตรีวิศวกรรมศาสตร์ สาขาไฟฟ้ากำลัง, อิเล็กทรอนิกส์</li>
                                                    <li>มีประสบการณ์ด้านบริหารจัดการผลิตภัณฑ์สินค้าอิเลคทรอนิกส์ ไฟฟ้า และแสงสว่าง</li>
                                                    <li>หากสามารถสื่อสารภาษาอังกฤษได้จะพิจารณาเป็นพิเศษ</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="job-contact">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="doubleBD"></div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-xl-4 col-lg-5 col-md-6 col-12">
                                                    <div class="row">
                                                        <div class="f-17">To apply, please send full resumes with your lastand expected salary to</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="icon-circle"><i class="fas fa-envelope"></i></div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <ul class="contact-list">
                                                                <li><a href="mailto:hr02-le@lighting.co.th">hr02-le@lighting.co.th</a>,</li>
                                                                <li><a href="mailto:hr05-le@lighting.co.th">hr05-le@lighting.co.th</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-5 col-md-6 col-12">
                                                    <div class="row">
                                                        <div class="f-17">For any questions please contact to</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="icon-circle"><i class="fas fa-phone-alt"></i></div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <ul class="contact-list">
                                                                <li>022488133 ext. 2301, 2304</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- POSITION :: 02 -->
                                <div class="panel-heading" role="tab">
                                    <div class="row">
                                        <div class="col">
                                            <h5>Product Engineer (Facade & Special) : Installation</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <ul class="job-position">
                                                <li><i class="fas fa-calendar-alt"></i>วันที่ 16 มกราคม 2566</li>
                                                <li><i class="fas fa-user"></i>2 อัตรา</li>
                                                <li><i class="fas fa-building"></i>สำนักงานใหญ่ พญาไท</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <a data-toggle="collapse" data-parent="#j-accordion" href="#section02" aria-expanded="true">
                                                <ul>
                                                    <li>View More</li>
                                                    <li>View Less</li>
                                                </ul>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div id="section02" class="panel-collapse collapse" role="tabpanel" data-parent="#j-accordion">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col">
                                                <h6>Responsibilities</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <ul class="list-decor">
                                                    <li>รับผิดชอบงานโครงการต่างๆ ในการติดตั้งโคมไฟ, แสงไฟ ได้ทันตามเวลาที่กำหนดอย่างมีประสิทธิภาพ</li>
                                                    <li>ออกแบบระบบควบคุมการเปลี่ยนสีของ LED FACADE LIGHTING, Commissioning ให้สามารถทำงานได้ตามความต้องการของลูกค้า</li>
                                                    <li>นำเสนอสินค้าในกลุ่มงานโครงการกับผู้ออกแบบ ผู้รับเหมา และวิศวกร</li>
                                                    <li>ประสานงานกับหน่วยงานต่างๆ ที่เกี่ยวข้อง ทั้งภายใน และภายนอกองค์กร</li>
                                                    <li>อื่นๆ ตามที่ได้รับมอบหมายจากผู้บังคับบัญชา</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <h6>Responsibilities</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <ul class="list-decor">
                                                    <li>อายุไม่เกิน 30 ปี</li>
                                                    <li>พ้นภาระด้านการเกณฑ์ทหาร</li>
                                                    <li>ปริญญาตรี วิศวกรรมศาสตร์ สาขาไฟฟ้ากำลัง หรืออิเลคทรอนิกส์</li>
                                                    <li>มีประสบการณ์ด้านการประเมินราคา การติดตั้งระบบไฟฟ้า</li>
                                                    <li>สามารถอ่านแบบวงจร แบบก่อสร้าง และประเมินการใช้งานอุปกรณ์อิเลคทรอนิกส์ได้</li>
                                                    <li>สามารถควบคุมงานตาม Site งานได้</li>
                                                    <li>หากสามารถสื่อสารภาษาอังกฤษได้จะพิจารณาเป็นพิเศษ</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="job-contact">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="doubleBD"></div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-xl-4 col-lg-5 col-md-6 col-12">
                                                    <div class="row">
                                                        <div class="f-17">To apply, please send full resumes with your lastand expected salary to</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="icon-circle"><i class="fas fa-envelope"></i></div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <ul class="contact-list">
                                                                <li><a href="mailto:hr02-le@lighting.co.th">hr02-le@lighting.co.th</a>,</li>
                                                                <li><a href="mailto:hr05-le@lighting.co.th">hr05-le@lighting.co.th</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-5 col-md-6 col-12">
                                                    <div class="row">
                                                        <div class="f-17">For any questions please contact to</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="icon-circle"><i class="fas fa-phone-alt"></i></div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <ul class="contact-list">
                                                                <li>022488133 ext. 2301, 2304</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>