@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout/Frontend_Index_Layout.cshtml";
}



<div class="content-padding" id="index">
    <div class="container-fluid">
        <!---------- INDEX :: NEW PRODUCT ---------->
        <div class="wrap-pad">
            <div class="new-product-header">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-12">
                        <h3>EXPLORE OUR</h3>
                        <h1>NEW PRODUCTS</h1>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12">
                        <a class="buttonBD m-size" href="product.php">ALL PRODUCTS<i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="contentBox-list">
                    @*
                    <li>
                        <a href="product_detail.php">
                            <img src="~/Frontend_assets/images/index/n-product01.jpg">
                            <div class="contentBoxBG">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12 col-12">
                                        <div class="contentBox-topic">
                                            <p>BOLLARD </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 d-none d-md-none d-lg-block">
                                        <div class="buttonB">Read more<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="product_detail.php">
                            <img src="~/Frontend_assets/images/index/n-product02.jpg">
                            <div class="contentBoxBG">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12 col-12">
                                        <div class="contentBox-topic">
                                            <p>LED FRESNEL SPOT LIGHT</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 d-none d-md-none d-lg-block">
                                        <div class="buttonB">Read more<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="product_detail.php">
                            <img src="~/Frontend_assets/images/index/n-product03.jpg">
                            <div class="contentBoxBG">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12 col-12">
                                        <div class="contentBox-topic">
                                            <p>HIGH BAY HBL731</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 d-none d-md-none d-lg-block">
                                        <div class="buttonB">Read more<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="product_detail.php">
                            <img src="~/Frontend_assets/images/index/n-product04.jpg">
                            <div class="contentBoxBG">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12 col-12">
                                        <div class="contentBox-topic">
                                            <p>TRACK LIGHT LED MODULE TRL110</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 d-none d-md-none d-lg-block">
                                        <div class="buttonB">Read more<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="product_detail.php">
                            <img src="~/Frontend_assets/images/index/n-product05.jpg">
                            <div class="contentBoxBG">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12 col-12">
                                        <div class="contentBox-topic">
                                            <p>RECESSED DOWNLIGHT RAL40D</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 d-none d-md-none d-lg-block">
                                        <div class="buttonB">Read more<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="product_detail.php">
                            <img src="~/Frontend_assets/images/index/n-product06.jpg">
                            <div class="contentBoxBG">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12 col-12">
                                        <div class="contentBox-topic">
                                            <p>WALL MOUNT WLL123</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 d-none d-md-none d-lg-block">
                                        <div class="buttonB">Read more<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    *@
                    <li>
                        <a href="https://www.mydevdemosites.com/category/bollardborder">
                            <img src="~/Frontend_assets/images/index/n-product01.jpg">
                            <div class="contentBoxBG">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12 col-12">
                                        <div class="contentBox-topic">
                                            <p>BOLLARD </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 d-none d-md-none d-lg-block">
                                        <div class="buttonB">Read more<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mydevdemosites.com/products/lighting-and-equipment">
                            <img src="~/Frontend_assets/images/index/n-product02.jpg">
                            <div class="contentBoxBG">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12 col-12">
                                        <div class="contentBox-topic">
                                            <p>LED FRESNEL SPOT LIGHT</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 d-none d-md-none d-lg-block">
                                        <div class="buttonB">Read more<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mydevdemosites.com/category/low-bay-high-bay">
                            <img src="~/Frontend_assets/images/index/n-product03.jpg">
                            <div class="contentBoxBG">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12 col-12">
                                        <div class="contentBox-topic">
                                            <p>HIGH BAY HBL731</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 d-none d-md-none d-lg-block">
                                        <div class="buttonB">Read more<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mydevdemosites.com/category/spotlight-tracklight-led-retrofit">
                            <img src="~/Frontend_assets/images/index/n-product04.jpg">
                            <div class="contentBoxBG">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12 col-12">
                                        <div class="contentBox-topic">
                                            <p>TRACK LIGHT LED MODULE TRL110</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 d-none d-md-none d-lg-block">
                                        <div class="buttonB">Read more<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mydevdemosites.com/category/recessed-downlight-led-module">
                            <img src="~/Frontend_assets/images/index/n-product05.jpg">
                            <div class="contentBoxBG">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12 col-12">
                                        <div class="contentBox-topic">
                                            <p>RECESSED DOWNLIGHT RAL40D</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 d-none d-md-none d-lg-block">
                                        <div class="buttonB">Read more<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mydevdemosites.com/category/wall-mount">
                            <img src="~/Frontend_assets/images/index/n-product06.jpg">
                            <div class="contentBoxBG">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12 col-12">
                                        <div class="contentBox-topic">
                                            <p>WALL MOUNT WLL123</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 d-none d-md-none d-lg-block">
                                        <div class="buttonB">Read more<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <!---------- INDEX :: PROJECT REF ---------->
        <div class="wrap-pad">
            <div class="project-header">
                <div class="row">
                    <div class="col">
                        <h1>WHAT WE DO?</h1>
                        <h3>HI-LIGHT PROJECT</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-11 col-12">
                    <div class="txt-content text-center f-17">
                        <p>Our lighting solution attempts to raise the general attractiveness of the design while energy efficient, durable and sustainable solutions are highly considered. Let us be part of your project by contact your nearest L&E representative.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="content-center">
                        <a class="buttonBD m-size" href="project.php">ALL PROJECTS<i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="contentBox-list project">
                    @*
                    <li>
                        <a href="project_detail.php">
                            <img src="~/Frontend_assets/images/index/project01.jpg">
                            <div class="contentBoxBG">
                                <div class="row">
                                    <div class="col-lg-9 col-md-12 col-12">
                                        <div class="contentBox-topic">
                                            <p>QUEEN SIRKIT NATIONAL CONVENTION CENTER</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 d-none d-md-none d-lg-block">
                                        <div class="buttonBD">Read more<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="project_detail.php">
                            <img src="~/Frontend_assets/images/index/project02.jpg">
                            <div class="contentBoxBG">
                                <div class="row">
                                    <div class="col-lg-9 col-md-12 col-12">
                                        <div class="contentBox-topic">
                                            <p>THE VOICE ALL STARS THAILAND</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 d-none d-md-none d-lg-block">
                                        <div class="buttonBD">Read more<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="project_detail.php">
                            <img src="~/Frontend_assets/images/index/project03.jpg">
                            <div class="contentBoxBG">
                                <div class="row">
                                    <div class="col-lg-9 col-md-12 col-12">
                                        <div class="contentBox-topic">
                                            <p>REGENT PHUKET CAPE PANWA</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 d-none d-md-none d-lg-block">
                                        <div class="buttonBD">Read more<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="project_detail.php">
                            <img src="~/Frontend_assets/images/index/project04.jpg">
                            <div class="contentBoxBG">
                                <div class="row">
                                    <div class="col-lg-9 col-md-12 col-12">
                                        <div class="contentBox-topic">
                                            <p>SOOKSIAM <br>@@ ICONSIAM</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 d-none d-md-none d-lg-block">
                                        <div class="buttonBD">Read more<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    *@
                    <li>
                        <a href="https://www.mydevdemosites.com/projects/event-exhibition">
                            <img src="~/Frontend_assets/images/index/project01.jpg">
                            <div class="contentBoxBG">
                                <div class="row">
                                    <div class="col-lg-9 col-md-12 col-12">
                                        <div class="contentBox-topic">
                                            <p>QUEEN SIRKIT NATIONAL CONVENTION CENTER</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 d-none d-md-none d-lg-block">
                                        <div class="buttonBD">Read more<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mydevdemosites.com/projects/event-exhibition-0">
                            <img src="~/Frontend_assets/images/index/project02.jpg">
                            <div class="contentBoxBG">
                                <div class="row">
                                    <div class="col-lg-9 col-md-12 col-12">
                                        <div class="contentBox-topic">
                                            <p>THE VOICE ALL STARS THAILAND</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 d-none d-md-none d-lg-block">
                                        <div class="buttonBD">Read more<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mydevdemosites.com/projects/event-exhibition-0">
                            <img src="~/Frontend_assets/images/index/project03.jpg">
                            <div class="contentBoxBG">
                                <div class="row">
                                    <div class="col-lg-9 col-md-12 col-12">
                                        <div class="contentBox-topic">
                                            <p>REGENT PHUKET CAPE PANWA</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 d-none d-md-none d-lg-block">
                                        <div class="buttonBD">Read more<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mydevdemosites.com/projects/shopping-mall/sooksiam-iconsiam">
                            <img src="~/Frontend_assets/images/index/project04.jpg">
                            <div class="contentBoxBG">
                                <div class="row">
                                    <div class="col-lg-9 col-md-12 col-12">
                                        <div class="contentBox-topic">
                                            <p>SOOKSIAM <br>@@ ICONSIAM</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 d-none d-md-none d-lg-block">
                                        <div class="buttonBD">Read more<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="catalogueBG">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col">
                    <h1>CATALOGUES</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-11 col-12">
                    <div class="txt-content text-center f-17">
                        <p>Discover the latest collections of L&E LED luminaires. Be inspired by the new items for architectural, media façade and decorative lighting.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="slide-navButton">
                        <div class="catalogue-slide owl-carousel owl-theme">
                            @*
                            <div class="items">
                                <a class="contentBox" href="images/testPDF.pdf" target="_blank">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/catalogue/catalogue01.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>LED LE Catalogue 2023</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="buttonB"><i class="fas fa-arrow-alt-circle-down"></i>Download</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="items">
                                <a class="contentBox" href="images/testPDF.pdf" target="_blank">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/catalogue/catalogue02.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>LMS Product Catalogue 2023-2025</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="buttonB"><i class="fas fa-arrow-alt-circle-down"></i>Download</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="items">
                                <a class="contentBox" href="images/testPDF.pdf" target="_blank">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/catalogue/catalogue03.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>LUMAX CATALOG</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="buttonB"><i class="fas fa-arrow-alt-circle-down"></i>Download</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="items">
                                <a class="contentBox" href="images/testPDF.pdf" target="_blank">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/catalogue/catalogue04.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>Decorative Light 2022</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="buttonB"><i class="fas fa-arrow-alt-circle-down"></i>Download</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            *@
                            <div class="items">
                                <a class="contentBox" href="https://drive.google.com/file/d/16ocjRBfzmKQmohAypXUwZtBrQYT_VcxW/view" target="_blank">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/catalogue/catalogue01.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>LED LE Catalogue 2023</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="buttonB"><i class="fas fa-arrow-alt-circle-down"></i>Download</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="items">
                                <a class="contentBox" href="https://drive.google.com/file/d/1SrOpB0si1Zeomn38lwSETHZTyfzU0lIx/view" target="_blank">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/catalogue/catalogue02.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>LMS Product Catalogue 2023-2025</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="buttonB"><i class="fas fa-arrow-alt-circle-down"></i>Download</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="items">
                                <a class="contentBox" href="https://drive.google.com/file/d/18hCJa2074dy-4KnrTdHZaLQN_4jdB2L_/view" target="_blank">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/catalogue/catalogue03.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>LUMAX CATALOG</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="buttonB"><i class="fas fa-arrow-alt-circle-down"></i>Download</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="items">
                                <a class="contentBox" href="images/testPDF.pdf" target="_blank">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/catalogue/catalogue04.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>Decorative Light 2022</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="buttonB"><i class="fas fa-arrow-alt-circle-down"></i>Download</div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 200) {
                $('.side-menu').fadeIn();
            } else {
                $('.side-menu').fadeOut();
            }
        });

        $(() => {
            $('.index-main-banner').owlCarousel({
                loop: true,
                margin: 0,
                autoplay: true,
                animateOut: 'fadeOut',
                autoplayTimeout: 5500,
                smartSpeed: 4000,
                autoplayHoverPause: false,
                mouseDrag: false,
                dots: true,
                nav: false,
                navText: [
                    '<i class="fas fa-chevron-left"></i>',
                    '<i class="fas fa-chevron-right"></i>'
                ],
                responsive: {
                    0: {
                        items: 1,
                        slideBy: 1,
                    },
                    640: {
                        items: 1,
                        slideBy: 1
                    },
                    1024: {
                        items: 1,
                        slideBy: 1
                    }
                }
            })

            $('.catalogue-slide').owlCarousel({
                loop: false,
                margin: 0,
                autoplay: false,
                autoplayTimeout: 1500,
                smartSpeed: 1000,
                autoplayHoverPause: true,
                mouseDrag: false,
                dots: false,
                nav: true,
                navText: [
                    '<i class="fas fa-chevron-left"></i>',
                    '<i class="fas fa-chevron-right"></i>'
                ],
                responsive: {
                    0: {
                        items: 1,
                        slideBy: 1,
                        dots: true,
                        //nav: true
                    },
                    640: {
                        items: 3,
                        slideBy: 1
                    },
                    1024: {
                        items: 3,
                        slideBy: 1
                    }
                }
            })
        })
    </script>
}